[2020-04-08 13:32] patlaj opened #7 ""Expositions" doesn't effectively lead to the Exposure locations in French - "Lieux d'expositions" worked better"
(COV 10 FR test - 0/3 used "Exposition". COV 10 EN 8/8 successfully used "Exposure locations")

[2020-04-08 13:32] #7 closed

[2020-04-08 15:51] LanaStewa opened #8 "Use buttons for a CTA that can be done online"
Inline links are easily missed.  (COV11 T1)

[2020-04-08 15:56] #8 closed

[2020-04-22 18:05] lisafast opened #10 "Fix breadcrumb in CERB"
@Anbrie @cfarquharson We need to link the proto pages you are working on right now ( http://test.canada.ca/covid-19-guidance/proto/0_archive-of-prev-content/cerb23-03-2020/cerb-cra/index.html) to a prototyped ESDC CERB page for testing.

We are working on that ESDC page with ESDC. So when you get this, let us know, or fix the breadcrumb yourself on every CRA CERB page - it should link to:

http://

[2020-04-22 18:09] Anbrie commented on #10
http://test.canada.ca/covid-19-guidance/proto/0_archive-of-prev-content/cerb23-03-2020/cerb-cra/index.html

Anne Brierley

From: Lisa Fast <notifications@github.com>
Sent: Wednesday, April 22, 2020 2:05 PM
To: gc-proto/covid-19-guidance <covid-19-guidance@noreply.github.com>
Cc: Brierley, Anne <Anne.Brierley@cra-arc.gc.ca>; Mention <mention@noreply.github.com>
Subject: [gc-proto/covid-19-guidance]

[2020-04-22 18:15] lisafast commented on #10
@Anbrie  - you replied with the same link. I'm not sure what that means. Do you want US to edit the pages, or will YOU edit the breadcrumb on those pages?

[2020-04-22 18:19] Anbrie commented on #10
You asked for the page we are working on right now. That is what I’m working on. Do you mean something else? Email wasn’t clear.

Anne Brierley
mobile: 613-219-3099

From: Lisa Fast <notifications@github.com>
Sent: Wednesday, April 22, 2020 2:16 PM
To: gc-proto/covid-19-guidance <covid-19-guidance@noreply.github.com>
Cc: Brierley, Anne <Anne.Brierley@cra-arc.gc.ca>; Mention <mention@noreply.github

[2020-04-22 18:42] lisafast commented on #10
Ah, sorry, I wasn't clear. I know which pages you are working on. What we need is to ALSO make a change to those pages. Please alert @LanaStewa once you have finished your work for the day, and we will make the changes to the breadcrumbs of your CERB pages.

[2020-07-31 17:51] lbelmore-gc opened #16 "How the revenue drop and subsidy rate are calculated - page"
Review of the "How the revenue drop and subsidy rate are calculated" page content edits updates

[2020-07-31 17:52] LMElston commented on #16
[cid:image001.jpg@01D66741.E0517BE0]

Laura May

Digital Design and Production Directorate (DDPD) | Direction de la conception et de la production numériques (DCPN)
Telephone | Téléphone 416-523-1072

From: lbelmore-gc <notifications@github.com>
Sent: July 31, 2020 1:52 PM
To: gc-proto/covid-19-guidance <covid-19-guidance@noreply.github.com>
Cc: Elston, Laura May <Laura-May.Elston@cra-arc.gc.ca>;

[2020-07-31 17:56] LMElston commented on #16
Need to consider suggested changes from David O for incorporation into the page and send back for final review.

[2020-07-31 20:10] lbelmore-gc opened #18 "CEWS Online calculator"
Summary of updates and fixes needed for the online calculator:

•	The overlay pop ups for the duplicated employees (2, 3, 4, etc.) do not work yet
•	The  spreadsheet showing the appropriate one based on the period isn’t quite working (he is on it so it might be ready by the time Lorraine looks at it)
•	The calculator option disappears completely for P1 to 4 but we may need to adjust the text for t

[2020-07-31 20:16] lbelmore-gc opened #19 "CEWS Registry link"
CEWS registry links to be added

On hold for now– likely happening during the week of 17 August.

[2020-07-31 20:49] Michel-Tremblay commented on #18
-  The overlay pop ups for the duplicated employees (2, 3, 4, etc.) do not work yet
    -    **this should be fixed as of this afternoon**
-  The spreadsheet showing the appropriate one based on the period isn’t quite working (he is on it so it might be ready by the time Lorraine looks at it)
    -   **should be fixed as of yesterday**
-   Doesn’t have the send data below push down the fields in t

[2020-07-31 20:53] Borges-Porteous opened #20 "Adding commas in input fields"
Not urgent...

But from a usability perspective, one thing identified in the testing was that it would be helpful if there were commas (en) or spaces (fr) for the thousands in the revenue inputs for the months.

So 10 000 or 10,000 instead of 10000. This can help with when they're doing the input, so the idea would be in realtime as focus is on the input box, not just after they've input the amoun

[2020-07-31 20:55] Borges-Porteous opened #21 "Improving label for alternate baseline remuneration periods"
Another label we need to change is the one for baseline pay field in the employee by employee fields.

As it says in the pop-up definition, it's either Jan 1 to Mar 15 2020 or Jul 1 to Dec 31, 2019 (for Period 5).

It might be as simple as labelling the pop-up link "Decide the baseline remuneration period to use". Or, if there's a way to do it, then even adding in the 2 period options as bullets o

[2020-07-31 21:05] LMElston opened #22 "10% Wage Subsidy links"
From Natasha P:
We launched the TWS content today therefore the CEWS content should point to its new landing pages.

CEWS pages with TWS mention (that I’m aware of)
https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-calculate-subsidy-amount.html _[NOTE from Laura May: this link should *only* appear in the overlay]_
https://www.canada.ca/fr/agence-revenu/services/s

[2020-07-31 21:15] cfarquharson commented on #22
I did it on the 'How the subsidy is calculated' page, but @Chris-O, can you do it on the calculator page?

[2020-07-31 21:17] LMElston commented on #18
@Borges-Porteus Is the text from last night for the revenue drop summary show/hide based on the safe harbour rule in progress?

[2020-07-31 21:23] LMElston opened #23 "Reconcile "employees on leave with pay" / "on leave with pay" / (XfurloughedX)"
Consolidate definitions into one location (or two if calculation details require linking to).

Update according to draft FAQ caveats.

Confirm these links point to the right place.

Make sure label changes are reflected in edits to calculator page document.

[2020-07-31 21:27] LMElston commented on #21
I think this was done?

Average weekly baseline pre-crisis (baseline) pay
How to determine the pre-crisis pay amount

[2020-07-31 21:37] Christopher-O commented on #22
@cfarquharson I did a PR on @Michel-Tremblay 's page.  We will do all the edits on there via PR and then move it over to the main page once or twice a day as we fix/change things.

[2020-07-31 21:37] Borges-Porteous commented on #21
Nope, that was what was there during testing.
- the 'baseline' is repeated in the first line, which looks very weird
- the 'How to determine the pre-crisis pay amount' was not working - very few participants clicked it, and those that did exclaimed that they would have wanted to see that

My hypothesis is that a small label change to have an action verb first, such as "Decide" could help. Also ind

[2020-07-31 21:41] Michel-Tremblay commented on #20
the current functionality as of right now:

English:
   - 10,000 => 10000
   -  10 000 => 10000

French:
   - 10,000 => 10.00 ($10) (summary display = 10,00 $)
   -  10 000 => 10000 (summary display = 10 000,00 $)

[2020-07-31 21:44] LMElston commented on #21
Ah ok! Thanks for the further explanation. I thought it just said "Baseline pay" during testing.

I'm good with the text you proposed, and the first instance of baseline does need to removed from the first line (that was an error)

[2020-07-31 21:49] Christopher-O commented on #21
I will update @Michel-Tremblay  page with the new text.  Just to confirm we are removing the duplicate "baseline" word and changing the hyperlink text to what @Borges-Porteous is proposing.

[2020-07-31 22:13] LMElston commented on #21
@christopher-o yep!

[2020-07-31 22:25] Christopher-O commented on #21
@LMElston done.  @Michel-Tremblay will merge the changes.

[2020-08-01 13:49] Michel-Tremblay commented on #21
I've merged all changes that were assigned to me

[2020-08-01 16:50] #21 closed

[2020-08-01 17:00] lbelmore-gc opened #26 "CEWS Translations requests and status"
Adding this to track the translation requests and status.

For P5 launch deadlines
All English content changes and updates done by Sunday 4pm
All French translations received by Monday 4pm

We will also need parallel reviews completed and requested separately.

Please see google doc for status of docs to date: https://docs.google.com/spreadsheets/d/1DmsgFBlOLcHgWz_zpuEqFnpbyqeRSArF8dVgIMcImnY/edit

[2020-08-01 18:38] Alireme commented on #18
The summary of revenue drop rates should have "Your overall CEWS rate (base rate + top up rate) for this claim period is ___%" should be at the end so that it displays more clearly as addition. Participants were looking for the bottom number to be their CEWS rate, not the first number.

[2020-08-01 18:39] Michel-Tremblay commented on #20
allowing this in English poses the same issue as allowing them in French inputs - there is nothing in HTML5 or WET4 for flip a switch for this.

[2020-08-01 18:56] Christopher-O commented on #18
@LMElston  are you okay with moving that to the bottom?  Also @Borges-Porteous  there is a line that I believe you added that says "The rate is 75% because the period 1-4 rate is higher than your calculated overall rate (you qualified for the "safe harbour" rule)".  I assume that should hidden unless the calculations determine that the safe harbour rule applies correct?  Has that been sent to @Mic

[2020-08-01 19:00] Borges-Porteous commented on #18
It's bound to the script - I just forgot to put the 'hidden' class on it by default! Would be great if one of you could add that in while you're making another page, just add 'hidden' to anything with the class 'safe-harbour-show'

[2020-08-01 19:01] Christopher-O commented on #18
@Borges-Porteous when I get a response from @LMElston I will go in and add that class.   Thanks for the update.

[2020-08-01 19:12] Alireme commented on #18
When you open the online calculator and see "Note: This calculator does not save any data and if you leave or refresh this page you may need to enter the information again" should be under the "Use the calculator" heading, as this applies to the entirety of the calculator

[2020-08-01 19:22] Christopher-O commented on #18
@Alireme it is at the very top, however it's in an expand hide (as I didn't think it was "required" information..unless it shows that users are heistant to even try it because they don't know if the information is kept.  Therefore that statement in the hidden online portion should be removed.   If you believe that the expand/hide summary should have a better label, please advise.

[2020-08-01 19:30] Michel-Tremblay commented on #20
@Borges-Porteous could you please let me know if this is desired functionality, and confirm the numbers. i've confirmed and they look accurate, but since this is filtering all inputs, i'd like to just get a second eye on it

http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much-mt.html

[2020-08-01 19:31] Alireme commented on #18
@Christopher-O unless i'm working on an old version, all I see at the top is the privacy statement in the expand/hide? It does say that we're not retaining information but people may still expect that they won't have to worry too much about losing their work.

[2020-08-01 19:37] Alireme commented on #16
Overall rate of CEWS = base rate + top up rate
- green plus sign looks like a button and is inconsistent with the rest of the design on the page. Maybe "and" or "plus" in the grey circle so it looks like the "or" circle above it.
- The heading/label itself disappears a bit in the grey box when this is a pretty important part of the page

[2020-08-01 19:41] Christopher-O commented on #18
@Alireme I have made a PR to move that content into the expand hide and amend the summary text.

[2020-08-01 19:41] LMElston commented on #18
I will include this move in my text updates (in progress right now)

[2020-08-01 19:43] Borges-Porteous commented on #20
I just tried it out (chrome on a mac) but I didn't see any difference.

The idea of the functionality described above was to add commas or spaces (doesn't matter which) every 3 characters, while they input the numbers. I had actually thought you had said this wasn't realistic, so had considered it something we could abandon.

The issue it's meant to solve is that people with high revenue, say in t

[2020-08-01 19:45] Borges-Porteous commented on #20
I am noting another, related issue though, which is that the inputs are accepting more than 2 decimal places for revenue. Maybe this is an easier one to fix, to limit it at 2 decimal places?

[2020-08-01 19:49] Alireme commented on #16
"Top-up revenue drop and rate calculations"
- This is a noun string https://plainlanguage.gov/guidelines/words/avoid-noun-strings/
- Maybe "Calculations for your basic rate and the top-up for your drop in revenue" or something similar? it's definitely longer but something more descriptive that breaks up the nouns would make this phrase more clear

[2020-08-01 19:51] Michel-Tremblay commented on #20
this is how it looks for me in firefox. maybe it hasnt updated on the site yet?

![image](https://user-images.githubusercontent.com/11430547/89109398-cd774d80-d40e-11ea-86f5-fb28b64616b8.png)

[2020-08-01 19:57] Borges-Porteous commented on #20
Ooh,  that's awesome! Exactly what I was thinking.

Hmm, I'll flush the cache and try again

[2020-08-01 19:58] Borges-Porteous commented on #20
Hmm, still not getting that. But it works like before, so it's great it works in some browsers at least, chrome must be overriding it?

[2020-08-01 19:59] Borges-Porteous commented on #20
Thanks for looking into this, it's a significant usability improvement. Is that a stand alone function or something? Would be great to be able to port that over to other forms in the future or even get it in the design system @cfarquharson and co are building.

[2020-08-01 20:00] Michel-Tremblay commented on #20
it's never been that this is an impossible task. to me this feels like an 'upstream issue' in that this should be supported for WET4 if it's an expectation for GC sites to support entering numbers in this format.

there are modules that could do the work for us, but it's just not realistic to add that in at this point.

it also just feels like a huge shift in the code to have **every** input for c

[2020-08-01 20:01] Michel-Tremblay commented on #20
[code]

[2020-08-01 20:02] Borges-Porteous commented on #20
Great, thanks Michel!

Again though, not a priority for August 11, sorry if I made it seem urgent! I hope it doesn't take up too much time on your weekend

[2020-08-01 20:07] Michel-Tremblay commented on #20
It wouldn't be a huge problem to remove it right now. But i figure if we can get it thoroughly tested, I'd be confident sending it in for the 11th. If I've missed a call to this function when getting the value of an input in just _one_ spot, there will be problems elsewhere in the calculations, or in the display of the form.

I'm not being assigned to many issues right now so I figured I would loo

[2020-08-01 20:11] Borges-Porteous opened #31 "Revenue drop calculation broken on mobile"
So on mobile (iphone, safari) the how-much-mt.html page does not calculate either for jan-feb or corresponding of 2019.

On how-much.html, it calculates for jan-feb baseline (calc-alt), but not corresponding month of 2019 (calc)

I wonder if this is a change I made earlier today? Is there something that's not supported on iphones? Not sure what it would be though, so I would be grateful for any he

[2020-08-01 20:22] Michel-Tremblay commented on #31
i can remove my fix to allow formatting and we can test again. i'm really hoping that isnt it.

[2020-08-01 20:25] Alireme commented on #18
"How to determine the pre-crisis pay amount" link could be "methods of calculating baseline pay" or "new pay period options for determining baseline pay" something more descriptive of the new content in the overlay which will encourage more people to engage with it.  This overlay had great information people were excited about, but they needed to be directed here because repeat applicants already

[2020-08-01 20:27] Michel-Tremblay commented on #31
@Borges-Porteous I've pushed a commit to remove that fix. let me know if this fixes anything

[2020-08-01 20:29] Alireme commented on #18
Not a big deal at all, but currently when I navigate away from the calculate your subsidy page with data on the page, and then go back to the page everything is wiped clear except the claim period. It still says "Period 5:..." and then the Summary of Step 1 is present, but there is no claim period listed.

[2020-08-01 20:33] Michel-Tremblay commented on #31
Apparently Apple doesn't support Safari for Windows anymore, I can't really help debug this.

[2020-08-01 20:35] Christopher-O commented on #18
@Alireme on the how-much-mt.html page the link text was changed to "Decide which option to use for the pre-crisis pay" as recommended by @LMElston and @Borges-Porteous

[2020-08-01 20:36] Christopher-O commented on #18
@Michel-Tremblay  I believe you are aware of this issue, unsure if it's something you were going to look at before Aug 11 or if it's a browser specific issue.

[2020-08-01 20:37] LMElston commented on #18
I am re-editing to reflect “new” somehow

[2020-08-01 20:39] LMElston commented on #18
@Borges-Porteous none of the rate amounts should be able to be negative (0% is the lowest). Currently I can calculate a negative amount for the three-month revenue drop at C2. I also broke it by entering very high numbers in the 2020 months (it told me the safe harbour rule would kick in). Maybe you're aware; wanted to flag

[2020-08-01 20:42] Borges-Porteous commented on #31
Definitely works again now on my iphone. Maybe it was the comma fix...?

Sorry... I seem to have put you up to a task that was in vain...

[2020-08-01 20:42] Michel-Tremblay commented on #18
I am aware. It's typical functionality for all fields to be reset. I'm on Firefox and this seems to be a caching issue/feature. If I clear my cache and refresh (CTRL+F5) all the fields are reset to their defaults.

The labels to show the chosen claim period are rigged to update when the dropdown is changed. I would have to rig it up to do that on load as well if we want to just call this a 'featur

[2020-08-01 20:45] Borges-Porteous commented on #31
You do mean the comma/space formatting fix, right? Or was this another formatting code?

[2020-08-01 20:47] Michel-Tremblay commented on #31
no, all i removed were the calls to my ```toUnformattedNumber()``` function

so it looks like safari/iphones have stricter requirements for this😞

[2020-08-01 21:01] Christopher-O opened #32 "new issue re: negative % amounts"
@Borges-Porteous none of the rate amounts should be able to be negative (0% is the lowest). Currently I can calculate a negative amount for the three-month revenue drop at C2. I also broke it by entering very high numbers in the 2020 months (it told me the safe harbour rule would kick in). Maybe you're aware; wanted to flag

_Originally posted by @LMElston in https://github.com/gc-proto/covid-19-g

[2020-08-02 00:02] Borges-Porteous commented on #32
Ah, good catches... Hmm, not sure what could cause the high amounts, there should still have to be a 30% drop.

I remember adding a negative numbers fix, but maybe it was just for one part... I'll go update.

[2020-08-02 00:15] Borges-Porteous commented on #32
Huh, so I'm reviewing the code, and it looks correct to my eyes and mathematics... not that that's anything to trust, considering I'm a historian...

@Michel-Tremblay I might need your help with this, as it's already coded with what I would do to address the issue...

the math.max here is to avoid negative numbers in the rates:
//get the base rate
baseRate = parseFloat(Math.max(getP5PlusBaseRate(r

[2020-08-02 00:20] cfarquharson commented on #31
@Michel-Tremblay

One suggestion (for after safari/iphones...and ipads) are fixed.  If found this solution to force the number keyboard (instead of getting the alpha keyboard and then having to switch to numbers manually for even input).  Would be a nice UX piece to include.
  http://demos.danf.ca/iosnumpad/

[2020-08-02 00:31] Christopher-O commented on #31
@cfarquharson on my iphone XR, the numeric keypad comes up when I focus on the inputs....that's in chrome though...I cannot access the page in safari due to firewall limitations.

[2020-08-02 01:18] LMElston commented on #32
I can still break it if I add really huge numbers (1M+). But maybe it’s an outside case that would be entering 7 figures?

[cid:image001.png@01D66849.5494FD80]

Laura May

Digital Design and Production Directorate (DDPD) | Direction de la conception et de la production numériques (DCPN)
Telephone | Téléphone 416-523-1072

From: Borges-Porteous <notifications@github.com>
Sent: August 1, 2020 8:16 P

[2020-08-02 13:08] LMElston commented on #23
Definition approved and updated. Will tackle links and labels as part of overall link review. Closing issue.

[2020-08-02 13:08] #23 closed

[2020-08-02 13:10] LMElston opened #38 "Missing new FAQ content"
Links remain highlighted on service pages where they would point to an FAQ that is coming.

Need strategy for how to present these links.

Need draft FAQ to align with what we are saying.

[2020-08-02 13:14] LMElston opened #39 "Link review/revision"
Review links on all pages
- links to correct destination
- only first use of the term in that section is linked (looking at you, 'how the subsidy is calculated')
- text linked is appropriate (e.g. "on leave with pay" not "an employee who is on leave with pay for the week")
- overlays pull page content where it exists (not duplicated content hidden on page)
- link text is consistent with other link

[2020-08-02 13:15] LMElston commented on #16
Received significant edits from David O and will tackle this page this morning.

[2020-08-02 14:26] Michel-Tremblay commented on #32
we're doing ```Math.max(x, 0)``` on the ```baseRate```, ```topUpRate``` and ```revReduction``` but C2 and the summary was updated to use the value of the ```threeMonthReduction```. Would this fix it?
[code]

when displaying the variables?

[2020-08-02 14:34] Michel-Tremblay commented on #32
i fixed an issue in the 2020-2019 calculations. there was a syntax error from removing the formatted value change from yesterday

![image](https://user-images.githubusercontent.com/11430547/89125310-973bdb80-d4ab-11ea-903b-714597f10538.png)

[2020-08-02 14:37] Michel-Tremblay commented on #31
Thanks @cfarquharson have you seen this work with commas (French format)?

the only thing that sticks out to me is that by the HTML specification, ```<input type="number">``` **strictly does not allow commas**

[2020-08-02 14:45] Borges-Porteous commented on #32
Thanks for adding that to the threeMonthReduction, but I don't believe it solved the issue...

I'm still getting the 100% revenue drop even when it's obviously not (see my screenshot above) and I'm even getting a 3 month revenue drop that's negative when I modify the July field, that shouldn't even be part of the 3 month revenue drop calculation...

Sent you an email - would be great if we can dis

[2020-08-02 15:57] Borges-Porteous commented on #32
So I've pushed the update:

- It now truncates the cews rate *1000 and then divides by 100
- The employees hide is in a separate if statement, so will still trigger the display updates, which was causing that other error

Still haven't tested or double checked, since I have to step away, but if anyone has a chance, would be great if you can have a look... and try some more numbers, in either the c

[2020-08-02 16:38] LMElston commented on #16
Added a separate h3 for linking purposes/clarity and made the panel heading h4. @cfarquharson the green plus sign change can be your call.

[2020-08-02 16:51] LMElston commented on #16
Edited. Hopefully slightly better; there is probably a better heading structure than what we currently have.

[2020-08-02 16:52] LMElston commented on #16
Partly complete as of 12:51. Will be receiving math for examples soon so I can draft text for those. Need to incorporate feedback from Lorraine on this page as well.

[2020-08-02 17:05] Michel-Tremblay commented on #31
I've added type=number for the currency fields on how-much-mt.html. This allows us to defer some validation to WET4 and gives us this UX improvement.

[2020-08-03 12:19] LMElston commented on #16
Lorraine's feedback incorporated

[2020-08-03 12:20] LMElston commented on #16
@cfarquharson I added more to the table of contents on this page, which I think helps (will need to make sure the headings are nested correctly at some point). There is still an opportunity to remove some redundancy but this feels a little better.

Sent you the examples and a few edits.

[2020-08-03 23:44] #39 closed

[2020-08-03 23:45] #22 closed

[2020-08-03 23:47] LMElston opened #49 "Reflect changed application form lines c1 (value and text) and c2 (text) on the calculator and in the pages"
The decision is for the employer to enter the “current” revenue drop (not the higher of the current and previous period).

Line c1 - Revenue drop for the current period

Is your average revenue drop for the previous three months greater than 50%?

Line c2 – Average revenue drop for the previous three months

[2020-08-04 11:16] #31 closed

[2020-08-04 12:43] Michel-Tremblay commented on #49
I understand the change for C1, but C2 is already the three month reduction.

[2020-08-04 12:45] LMElston commented on #49
c2 is just a change to the label, not the field. No worries for you there!

[2020-08-04 12:50] Michel-Tremblay commented on #49
Ahh, ok, sounds good! Is this to be applied to how-much.html before end of day?

[2020-08-04 13:34] LMElston commented on #49
I think we need to decide exactly how we want to lay it out before we apply it, because just changing the number that's displayed will be confusing for people (c1 + c2 no longer = c3 if the deeming rule applied). I think we might also need to pull out the prior rate and display that. But this requires a conversation first. It's going to be discussed at the calculator touchpoint (and @cfarquharson

[2020-08-04 13:54] Christopher-O commented on #49
@LMElston I'm a bit behind as I did not participate in the meeting that spawned these changes so I will need a bit more context on exactly what needs to be added/why and then we can discuss possible hows.  I'm a bit lost as I'm seeing mixed messages from it being a simple label fix to displaying more values.  A phone meeting probably will be best.

[2020-08-04 13:59] LMElston commented on #49
Agree. I added this issue to put it on the radar but did not intend for the coding to begin yet, I apologize that I contributed to the confusion. Lorraine wants to discuss the details, not sure if she meant at the 11:30 touchpoint or prior to that. Will advise.

[2020-08-05 19:28] Christopher-O opened #58 "Active/LWP employees need to be whole numbers"
@Borges-Porteous @Michel-Tremblay the calculator outputs for the amount of active employees and leave with pay need to be rounded up to the nearest whole number (as the application does not count fractions).   It just needs to be rounded up at the very end so there is only ever one extra employee in a company.

[2020-08-05 23:03] 2denise opened #60 "Frank's comments from August 5"
- [ ] Add link from landing page to calculator -- DONE

- [ ]

[2020-08-05 23:06] 2denise commented on #60
- [ ]

[2020-08-05 23:06] #60 closed

[2020-08-06 12:18] Michel-Tremblay commented on #58
Pushed an update this morning that sends the active/lwp employee values through ```Math.ceil()```

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/ceil

[2020-08-06 12:45] Christopher-O commented on #58
@Michel-Tremblay  thanks!  But it seems the function to push the data to step 2b no longer works now.

[2020-08-06 13:27] Borges-Porteous opened #61 "Only calculates revenue drop when focus is removed"
Adding a button to say 'calculate' or something like that instead of relying on the focus change, could help usability a lot.

We just saw this in the commissioner's demo again, where people were reading the summary before it refreshed the calculation. This was previously seen in the user testing as well, so it's a legitimate UX issue.

Not necessary for Monday, with the content lock down, but can

[2020-08-06 13:44] Christopher-O commented on #61
@Borges-Porteous I still have to port a fix (and some text edits) over to the how-much.html page at some point before launch because of the rounding for the Active vs LWP employees.  @Michel-Tremblay please hold off on adding this function to the -mt.html file (feel free to update the -co.html file and we can try and play around with some options post launch (unless it is a critical fix that we ar

[2020-08-06 13:44] Borges-Porteous opened #62 "Reset calculator when you select a different period"
Didn't see this in the other issues, so adding one in.

If you fill out the calculator and then go change the period, the calculator still has the old amounts. Is there a way to just refresh the form when they select that other period in step 1?

[2020-08-06 13:47] Christopher-O commented on #62
@Michel-Tremblay I have a feeling this would be a fairly easy onchange to remove all values from the inputs and reset selects and checkboxes within the form (something that mimics the reset button on a form).  Correct me if I'm wrong.
And building on that, there was a desire to add reset buttons to each section (I don't know how indepth we should make that).

[2020-08-06 13:50] Christopher-O commented on #62
@Borges-Porteous I wonder though if having the entire form reset when changing the period would be the expected behaviour?

If someone spent an hour plunking in data, only to realize....oops, wrong period and then lost all their data, wouldn't that be a problem?  I'm wondering if instead we focus on using a reset button for the form, and if needed, once someone chooses a period, it turns to "reado

[2020-08-06 14:05] Borges-Porteous commented on #62
Yeah, a reset button would make sense to me - so they would have to hit 'reset' and then change the period?

The reset resets the form and then the change would be as per usual.

[2020-08-06 14:10] Christopher-O commented on #62
@Borges-Porteous correct.  If the major issue for this is the user changing the period then I see two options

- have a statement immediately below the dropdown for the period selection that says changing the period would reset the form,  however the risk is someone not seeing the statement

- auto change the selection to a readonly, and add a statement when that happens to say if they wish to cha

[2020-08-07 12:49] #32 closed

[2020-08-07 14:38] Michel-Tremblay commented on #62
Has there been a decision on this? Which option are we going with?

[2020-08-07 15:20] Borges-Porteous commented on #62
@Michel-Tremblay Hope this helps summarize:

1. Give an option to clear the form for step 2a that removes all field values
2. Issue #64  - but make step 1 unlock when they clear form
3. At the employee panel level, add a 'remove employee' button that deletes the panel and clears the numbers.

[2020-08-07 15:53] Christopher-O commented on #58
issue resolved

[2020-08-07 15:53] #58 closed

[2020-08-07 16:04] Michel-Tremblay commented on #62
will we need something to tell users they will need to resubmit the data to 2b if they remove/update employees after submitting the first time?

[2020-08-07 16:13] Christopher-O commented on #62
@Michel-Tremblay That's a great point.  however the same would be said if they hit the submit and then said "oops I forgot employee X"...they would still have to resubmit the data then.  So if we do add that statement it would have to appear if they submit once and they either add or remove a new employee.

[2020-08-07 16:28] Christopher-O commented on #62
These are all good points that we should gather for future updates.  Sigh...if only we had more time.

[2020-08-07 16:39] Borges-Porteous commented on #62
This. It's nice to have, not critical.

[2020-08-07 19:44] Michel-Tremblay opened #67 "Update to csv function for French comma possiblities in Firefox"
The current to csv function was made assuming we wouldn't have commas. Since the current functionality would allow commas **in french, in Firefox only**, i propose this small fix to be placed in English so that it is copied to the french page. Creating this as an issue because my -mt page has other changes that shouldn't be put into production yet.

https://github.com/gc-proto/covid-19-guidance/bl

[2020-08-07 19:52] Christopher-O commented on #67
@Michel-Tremblay  Firefox throws an error if there is a comma in the fields to say it needs a proper number...is that not sufficient?

[2020-08-07 20:04] Michel-Tremblay commented on #67
It's only Firefox that allows it when the page is set to French.

http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much-mt-fr.html

[2020-08-07 20:29] Christopher-O commented on #67
@Michel-Tremblay @Borges-Porteous actually it's a problem for all browsers as the table renders the data with the commas.  I just tried with chrome and I get the same error.

[2020-08-07 20:36] Christopher-O commented on #67
@Michel-Tremblay was this fix implimented in the mt-fr page?  I just tried it out and the output is still not formatted correctly.

[2020-08-07 20:57] Michel-Tremblay commented on #67
no i just opened this issue to bring this issue and the solution to your attention. it will need to be applied before publishing

[2020-08-07 22:14] Christopher-O commented on #67
@Michel-Tremblay could you add the fix to your mt-fr page so I can test it out?

[2020-08-07 23:31] Michel-Tremblay commented on #67
updated

[2020-08-07 23:44] Christopher-O commented on #67
@Michel-Tremblay I also tried it on my -co.html file and it seems to be functioning now as needed.

[2020-08-10 12:19] #67 closed

[2020-08-10 22:49] #49 closed

[2020-08-10 22:50] #38 closed

[2020-08-10 22:51] #16 closed

[2020-08-11 16:28] lbelmore-gc commented on #26
Translations for launch are complete. Closing this ticket
Post launch french review will be conducted the week of Aug 17th when JF returns.

[2020-08-11 16:28] #26 closed

[2020-08-11 17:55] LMElston opened #69 "CEWS changes for August 17"
Period 5 applications open August 17. Here are some things that will need to be updated:
- the **application guide** will be updated and will be coming from CVB for publishing (Alexandra MacLean is the leadership contact in case it is not received; Kathryn Ransome and Julianne Lacroix are working on the guide). It may benefit from a plain language review when it comes in, if possible. Last I saw t

[2020-08-11 17:56] LMElston commented on #69
Forms and pubs link to the attestation form:
https://www.canada.ca/en/revenue-agency/services/forms-publications/forms/rc661.html
https://www.canada.ca/fr/agence-revenu/services/formulaires-publications/formulaires/rc661.html

[2020-08-11 18:26] LMElston opened #70 "CEWS metadata update"
Mandatory metadata (most importantly descriptions) needs to be created/translated/added to new CEWS pages:
- What the changes are
- Periods you can apply for
- How the revenue drop and subsidy rate are calculated

Metadata for significantly changed pages should be updated as necessary:
- Who can apply
- Which employees are eligible
- How the subsidy is calculated
- Calculate your subsidy amount
-

[2020-08-11 18:31] LMElston opened #71 "CEWS examples for period 5+ rate calculations"
Two examples for the subsidy rate calculation for P5+ were removed from "How the revenue drop and rate subsidy are calculated" prior to launch because they did not meet the scope required.

The examples were intended to illustrate qualifying for the subsidy with a full amount of top-up and no top-up, but did not include the top-up revenue and calculation to illustrate that point.

The examples are

[2020-08-11 18:40] LMElston opened #72 "Link text for payroll service providers on "Who can apply""
CPA had a comment that was echoed by others that this link text on "Who can apply" does not work for them:

"Even if you didn't have a payroll account on March 15, you may still qualify if ... **you used a payroll service provider who made remittances on your behalf**"

LPRAB will need to approve this change. A few suggestions were floated for fixing this but none approved.

Other suggestions, clo

[2020-08-12 13:13] lbelmore-gc opened #73 "New CEWS Calculator spreadsheet -- 14-day issue"
Need to update spreadsheet and calculator based on the 14 day issue outlined bloew.

Miguel and Michel to review and test out these changes.

Emails for context:
------------------------------------------------------------------------------------------
From: Tremblay, MichelT <MichelT.Tremblay@cra-arc.gc.ca>
Sent: August 12, 2020 8:20 AM
To: Belmore, Lisa <Lisa.Belmore@cra-arc.gc.ca>; Borges-Porte

[2020-08-12 15:57] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 15:57] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 15:57] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 15:58] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 15:58] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 15:58] tanyafowler commented on #69
PubHub ticket number 206730 submitted to update attestation form links on:

- How to apply
- Application guide
- FAQs

Link to ticket: http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206730

Ticket instructions are to link to forms and publications HTML page rather than directly to PDF. Also asked that web dev search for other links to the PDF and send me the report, and

[2020-08-12 16:10] tanyafowler commented on #69
Will also need to follow up with Mathieu to approve unpublishing 2 old pages from old CEWS structure. Asked him to leave them up for now as I review the updated Application guide draft to make sure I can find the equivalent content if they've referenced old pages.

[2020-08-12 16:58] lbelmore-gc opened #74 "spreadsheet - weekly tab amount issue"
Feedback from call agent:

Hi there,

I have gone through the spreadsheet; it does not seem to be set up correctly. Using the weekly tab all amounts from columns H to L remain $0.00 even after all other columns have been filled in. Bi-weekly works fine.

Thanks
Chantelle Caldwell (and email from Tim McCarthy)

[2020-08-12 17:09] lbelmore-gc opened #75 "spreadsheet - compatibility with excel 2007"
Issue reported by CEWS phone agents (email from Bruce Bachelder):

- 	Calculator does not open for Excel 2007 users. Causes a CSV file to download that is not able to open

Miguel has reviewed and there might be an unsupported formula in the older software versions in the first tab. Will work on a fix that should hopefully make it compatible with excel 2007

[2020-08-12 17:45] Michel-Tremblay commented on #73
an updated has just been published to preview to address this issue in the calculator.

[2020-08-12 18:05] tanyafowler commented on #69
Mathieu has unpublished 2 old pages from old CEWS structure and has temporarily re-published them to preview for me. This is so I can compare the links in the updated app guide Word doc to see what the content author wanted to point to and find the equivalent content in the new site.

[2020-08-12 18:12] tanyafowler commented on #69
Preview links for the old pages referenced in previous comment are:
https://canada-preview.adobecqms.net/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-who-eligible-employer.html
https://canada-preview.adobecqms.net/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-determine-eligible-employees.html

[2020-08-12 20:49] tanyafowler commented on #69
Sent PubHub ticket 206777 to update Application guide with content received this afternoon from Kathryn Ransome (CVB). French and English docs received. I updated the links in the documents before attaching to ticket.

[2020-08-13 16:05] tanyafowler commented on #69
Sent PubHub ticket 206843 to update CEWS landing page, Periods you can apply for, and How to apply for August 17. Requested preview links by 1 p.m. tomorrow (Friday) and advised updates will be published live on Monday August 17 at 8:00 a.m. ET.

[2020-08-13 16:09] tanyafowler commented on #69
Ticket 206730 - to update attestation forms - was completed yesterday afternoon. Links to PDFs were removed and replaced with links to forms and pubs page:

https://www.canada.ca/en/revenue-agency/services/forms-publications/forms/rc661.html

[2020-08-13 18:11] #10 closed

[2020-08-13 19:43] tanyafowler opened #76 "CEWS infographics - updated look"
Adding issue for tracking, although it is already mostly resolved - preview links have been sent to Lorraine for review and approval.

Received updated infographics this afternoon. Created thumbnails for 4 files (2 each in EN and FR) then submitted PDFs and JPGs in PubHub ticket 206898:

http://lse-esl.ec.rc.gc.ca/pab-dgap/pubhub/pub/cp/consultRequest.action?id=206898

[2020-08-13 20:28] tanyafowler opened #77 "Alert to clarify you must choose a period before accessing spreadsheet or calculator"
Adding issue for tracking purposes.

Solution is in preview on the Calculate your subsidy page:

https://canada-preview.adobecqms.net/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-calculate-subsidy-amount.html
https://canada-preview.adobecqms.net/fr/agence-revenu/services/subvention/subvention-salariale-urgence/ssuc-calculez-montant-subvention.html

Mathieu is waiting for guidance

[2020-08-14 13:35] lbelmore-gc commented on #73
these fixes are now resolved. thanks guys!

Closing this ticket.

[2020-08-14 13:35] #73 closed

[2020-08-14 14:00] lbelmore-gc commented on #75
Miguel has made the required updates for older versions of excel. They should be compatible back to excel 97.

Closing this ticket

[2020-08-14 14:00] #75 closed

[2020-08-14 14:02] lbelmore-gc commented on #76
New Infographics are now live

https://canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-what-changes.html

https://canada.ca/fr/agence-revenu/services/subvention/subvention-salariale-urgence/ssuc-changement-apportes.html

closing this ticket.

[2020-08-14 14:02] #76 closed

[2020-08-18 21:15] delisma opened #78 "Update the aria status for fieldflow plugins"
https://github.com/gc-proto/covid-19-guidance/blob/813c4a1ad8661584418cf41b0d6c34968c809861/proto/travel/group/family.html#L104-L124

Enable a way to let screen readers know that the content has been updated after a selection

[2020-08-20 11:34] lbelmore-gc commented on #74
this one was fixed in a previous spreadsheet release. Closing this ticket

[2020-08-20 11:34] #74 closed

[2020-08-20 11:36] lbelmore-gc commented on #69
Aug 17th updates for period 5 applications open are complete. Closing this ticket

[2020-08-20 11:36] #69 closed

[2020-08-25 21:35] LMElston commented on #70
English drafted & sent to Naomi Hanff and J-F

[2020-08-25 21:36] LMElston commented on #70
English drafted & sent to Naomi Hanff and J-F

[2020-08-25 21:36] LMElston commented on #70
English drafted & sent to Naomi Hanff and J-F.

[2020-08-25 21:36] LMElston commented on #70
English drafted & sent to Naomi Hanff and J-F.

[2020-08-25 21:45] LMElston commented on #72
Sent David and Ken new text suggestions for their input.

[2020-09-03 16:13] LMElston commented on #70
English and French metadata updates posted.

[2020-09-03 16:14] LMElston commented on #70
English and French metadata updates posted.

[2020-09-03 16:18] #70 closed

[2020-09-08 14:57] lbelmore-gc commented on #18
@Christopher-O @Michel-Tremblay @Borges-Porteous  - can you confirm that this one is completed?  Let's close it if it is done.

[2020-09-08 15:00] Michel-Tremblay commented on #18
All tasks have been completed.

[2020-09-08 15:00] #18 closed

[2020-09-08 15:07] lbelmore-gc opened #80 "Validation added to EI and CPP lines"
ABSB is adding validation to the application form for the EI (Line D) and CPP (Line E) to prevent amounts claimed in those lines when no employees are reported as being on leave with pay (Line AA)

Aiming for a target deadline for this to be completed by Friday Sept 11th (on preview)
I will confirm this timing and send an update if it changes.

[2020-09-08 15:18] lbelmore-gc opened #81 "Print and save update to calculations"
Updating the UX for the print option at the end of the calculator page.

The print and save button not being seen on the calculation summary - and we need to ensure it is clear before users go on to the next step and avoid any loss of their calculations.

http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much.html

[2020-09-08 15:20] lbelmore-gc opened #82 "Print and save UX updates"
Updating the UX for the print option at the end of the calculator page.

The print and save button not being seen on the calculation summary - and we need to ensure it is clear before users go on to the next step and avoid any loss of their calculations.

http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much.html

[2020-09-08 15:22] lbelmore-gc commented on #82
The print button has been moved down. Can we also look at the content for this and update it to make sure it is clear.

Adding @tanyafowler @LMElston for this.

[2020-09-08 15:25] lbelmore-gc commented on #81
oops - sorry! This is a duplicate. closing

[2020-09-08 15:25] #81 closed

[2020-09-08 16:03] lbelmore-gc opened #83 "Option to remove employee from calculations"
The calculator currently doesn't allow you to remove an employee once you have added in the info.

It has been suggested through testing that people need the ability to remove an employee from the list if errors are made.

Need to add an option to remove and employee.

[2020-09-08 16:24] Michel-Tremblay commented on #83
I've merged the changes for this feature into [how-much.html](http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much.html)

[2020-09-08 16:25] Michel-Tremblay commented on #80
Just published an update for this: http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/how-much.html

The validation is triggered when the user clicks the button to send data to 2b, and when the input for employees on leave is changed manually.

[2020-09-08 16:29] Borges-Porteous commented on #83
@lbelmore-gc sorry, I didn't explain well at the status this morning. The changes I made were purely on the math side for the online calculator, and allowing options/months for periods 7-9. @Michel-Tremblay and @Christopher-O have been leading the functionality update for removing employees, refreshing the form and validation.

I know Michel has been working in the version where the changes for 7-

[2020-09-08 16:33] Christopher-O commented on #80
@Michel-Tremblay I don't know if we want to risk someone not using that feature and then still having the option to enter in values, granted the labels do allude that it's for employees on leave with pay.

Could it be done as either the trigger to send data to 2a or if they have 0 in the EE on leave with pay as an onblur event?

@lbelmore-gc how important is it that a user does not have any opport

[2020-09-08 16:37] Christopher-O commented on #83
@lbelmore-gc I believe this can be closed as we have added the feature

[2020-09-08 16:38] Michel-Tremblay commented on #80
@Christopher-O, This is the current functionality 😃 sorry for the confusion

[2020-09-08 16:39] lbelmore-gc opened #84 "Calculator to update retroactive changes"
Calculator doesn't update with retroactive changes

If an amount is changed in the monthly revenue section, the summary of revenue drop will update when you tab out of the field. But to have the employee amounts update, you must click into the pre-crisis pay amount to have the employee update. This must be done with each individual employee listed.

Solution - update the button to "Calculate data

[2020-09-08 16:41] Christopher-O commented on #80
@Michel-Tremblay yes sorry about that I deleted my comment and hoped you didn't see it as I re-read the message after the fact.

[2020-09-08 16:43] Christopher-O commented on #84
@lbelmore-gc this has already been updated with slightly different text.  I assume this can be closed?

[2020-09-08 16:43] Michel-Tremblay commented on #84
I believe the only change that was required for the script is to have the employee amounts in the accordion summary update when the button is clicked the send data down - which has been completed.

[2020-09-08 16:45] Christopher-O commented on #84
@Michel-Tremblay yes thanks for clarifying.  I believe this resolves the issue.

[2020-09-08 17:02] lbelmore-gc opened #85 "New employees - clarify eligibility"
**Which of your employees qualify page**

UX testing showed it was unclear whether new employees qualify to be claimed under the CEWS

Solution - to add blurb about new employees, enter 0 to Which of your employees qualify page

Are there other pages that need this content?

[2020-09-08 19:02] lbelmore-gc commented on #82
@LMElston - any content need to ensure users understand that they need to print or save before moving on to the next step - or the calculations will be lost.

![image](https://user-images.githubusercontent.com/68651474/92517205-4d4dc000-f1e4-11ea-81ab-018378f8ce6b.png)

[2020-09-08 19:18] Christopher-O commented on #82
@lbelmore-gc @LMElston  I think it might be good to get into the user's head of the print function as they do the final calculation
![image](https://user-images.githubusercontent.com/9367162/92518310-5aaf7e00-f1d5-11ea-9f3b-92a9d785c7e4.png)

Rather than simply after the fact in the final calculation panel.

We also want to avoid the phrase "save" as technically there is no  actual"save" feature..

[2020-09-08 19:42] lbelmore-gc opened #86 "Adding employee name"
UX research showed users are looking to assign names to the employee lines to help track and complete the data.

Users cannot personalize employees, they currently need reference sheet to determine which employee is which.

Add in field for employee name or alias (with messaging about privacy)

Add input field to personalize employees (instead of employee 1, employee 2, etc.)
Names will be editabl

[2020-09-08 19:52] lbelmore-gc opened #87 "calculator options - text for 20 employee cap"
UX testing showed there was confusion about 20 employees cap when choosing the calculator vs the spreadsheet

Solution - Remove reference statement to 20 employees or less  in calculator option and large group of employees in spreadsheet option

[2020-09-08 19:52] Christopher-O commented on #86
@lbelmore-gc  the input field has been added and @Michel-Tremblay has added the script to change the name in the summary from Employee X to the name entered (and back to Employee X if the name is removed), as well as the full employee table summary.   Please confirm that all criteria has been met and issue can be closed.

[2020-09-08 19:59] lbelmore-gc opened #88 "Checklist updates to display and/or"
Before you start checklist. Secondary items under the split and/or on the checklist were not always read

Separate "and" items into individual checkboxes and put "or" objects in split (6/6) grid...or at very least further emphasize the "and" and "or" phrases (with font awesome circle icon) 5-9 listed as first option instead of 1-4

[2020-09-08 20:01] lbelmore-gc opened #89 "Period 7-9 example content"
new revenue drop examples for periods 7-9

[2020-09-08 20:15] Christopher-O commented on #87
List item for both the online calculator and the spreadsheet have been removed.  @LMElston  please record change when porting to preview.   Closing issue.

[2020-09-08 20:20] lbelmore-gc commented on #83
Thanks Chris

Should there be an option to remove employee 1? I see the button for employee 2 and onwards but not employee 1

[2020-09-08 20:23] Christopher-O commented on #88
For the "and" items, because they are basically two part steps of the same task, it might be a bit more problematic with user understanding to seperate them into seperate checklists (tasks).   My proposal would be to mimic the "or" statements with the phrase "Both of the following apply:" or "All of the following apply:" as a lead in.  Thoughts?

[2020-09-08 20:31] Christopher-O commented on #83
@lbelmore-gc  I don't know if the script to make sure at least one employee is not allowed to be deleted (hense having no employees), may be tricky.  I think it might be something of an edge case scenario.

@Michel-Tremblay what are your thoughts on that? The script would have to add a remove button to employee 1 if another employee is added, removed if the employee 2, 3, etc was all deleted (and

[2020-09-08 20:45] 2denise opened #90 "Publish link to CEWS registry"
Adding link to ITB application listing CEWS recipients from CEWS secondary navigation. Goals is to have this published by June 22 (per Claude on June 18).
Mock-up: http://test.canada.ca/covid-19-guidance/proto/wage-subsidy/how-much.html

[2020-09-08 20:46] 2denise opened #91 "Deadline for CEWS applications"
Businesses will have a hard deadline to make a change to a previous application. We will need content planned for when the deadline is established.

[2020-09-08 20:46] 2denise opened #92 "FAQ updates"
We need to alert 2 areas when making updates to the FAQs:
1. Patrick Desrochers, Assistant Director with the Audit, Evaluation and Risk Branch: My team is currently conducting a “documentary” exercise with regard to CEWS program. Our goal is to capture the documentation and records of decisions being generated by the CRA in delivering CEWS while managing risks and controls. One of the things we ar

[2020-09-08 21:04] 2denise opened #93 "Review FAQs post P5+ launch for language improvements"
Identify structural improvements (including table design), plain language notes, etc.

[2020-09-09 12:21] Michel-Tremblay commented on #83
The script that generates a new employee form just clones the **first** employee form, and makes the necessary adjustments to id's rather that rebuilding each and every element, and piece of text. If the first employee can be removed, I would have to redo a fair amount of that script.

[2020-09-09 12:30] LMElston opened #94 "Clarify reporting of CEWS on tax returns"
From David O'Horan via email. Wrote back to David to ask for a description of what the issue is so we can adjust the content appropriately. Given the wide context of 'after' used on the After you apply page I think it's important to mention that this focuses on the task of reporting the income at tax time, specifically clarifying information for employers and individuals. Will follow up with Mike/

[2020-09-09 13:16] lbelmore-gc commented on #82
@Christopher-O @LMElston - Yes it makes sense to not use the term "save" if we can't add that functionality.

Do you think we should add some text at the bottom before they go on to the next page to say something about how the calculations won't be saved once they leave the page?? To emphasize that this is the only chance to print

[2020-09-09 13:56] LMElston commented on #19
From old Trello card: Adding link to ITB application listing CEWS recipients from CEWS secondary navigation. Goals is to have this published by June 22 (per Claude on June 18).
Mock-up: http://test.canada.ca/covid-19-guidance/proto/wage-subsidy/how-much.html

[2020-09-09 13:57] LMElston commented on #90
Closing as duplicate of issue #19

[2020-09-09 13:57] #90 closed

[2020-09-09 14:03] Christopher-O commented on #83
@Michel-Tremblay thanks for the clarification.  @lbelmore-gc is having the current iteration sufficient at this time?  If so we can close this issue.

[2020-09-09 14:13] Christopher-O commented on #82
@lbelmore-gc good point.  We do say that inside the privacy statement already as a warning, though that's not really a privacy statement. If we could avoid repetition, that would be great.  @LMElston I propose we move it out of the privacy statement and just above the button to calculate and print (I think putting it in the panel would clutter things up a bit too much).

I don't think data in test

[2020-09-09 15:12] LMElston commented on #82
I understand wanting to avoid repetition but the mention of not saving information exists for 2 different reasons: 1, to reassure people that we are not keeping information they may consider private; 2, to prevent them from believing it will be saved if they come back to the page. I think we may need to repeat in slightly different language accordingly. Proposed text updates incoming shortly.

[2020-09-09 15:15] Christopher-O commented on #82
@LMElston the first paragraph in the privacy statment already says that we will not retain the information, and that can stay. I only speak of the "warning" paragraph, which has nothing to do with privacy but rather that because the form will not save that data, it's best to print it.  If we were to keep it in the privacy statement, it should probably be re-phrased as it seems like a standalone st

[2020-09-09 15:32] LMElston commented on #82
@Christopher-O I agree with moving the warning and keeping the first sentence. I thought that was supposed to be outside the privacy statement (just after it) originally anyway. I've tentatively moved it to the final summary box but it may merit being earlier on the page as well.

I'm confused about the placement of the print preview button before the summary, and why the summary doesn't include a

[2020-09-09 16:07] LMElston commented on #82
Ok! After speaking with @Christopher-O I believe we have some edits for your consideration.
Included in the attachment:
- updating language for "How the calculator helps you" based on Louis' suggestion
- removing 'warning' text from within the privacy statement
- adjusting lead-in text for calculation summary to tell people exactly what numbers they need and promoting the need to print the summary

[2020-09-09 16:32] tanyafowler commented on #82
@LMElston - edits look great. I'm making one suggested alternative for the Results section:

You are now ready to print these amounts to enter in your wage subsidy application

Suggestion:
(**bold only added to highlight changes to your original, not intended as formatting choices**)

You are now ready to print these amounts **and** enter **them into** your wage subsidy application

[2020-09-09 16:36] lbelmore-gc commented on #82
I like the changes! Great work guys!!!

I would like to move this item forward before the other UX updates on the list. Let me know when this is ready on github and/or preview and I can run it through approvals

[2020-09-09 16:37] lbelmore-gc commented on #87
@Christopher-O - let's reopen this one and I'll add it to the ready for approvals list

[2020-09-09 17:14] Christopher-O commented on #82
@LMElston @lbelmore-gc  did we want the warning about leaving the page before printing where it is in the word document or closer to the print preview button.  I'm fine either way, but per the message above
![image](https://user-images.githubusercontent.com/9367162/92630798-973eb080-f28d-11ea-8f41-43aae2d3b360.png)

[2020-09-09 17:27] LMElston commented on #82
@Christopher-O @lbelmore-gc I was thinking at the beginning of the summary, although it's going to depend on where people end up doing their reading vs. skimming, which I find a little hard to predict (for some people it would have been helpful at the top of the page, for example). I thought putting it ahead of the summary information could be useful for those people who don't intend to print (but

[2020-09-09 17:41] Christopher-O commented on #82
@LMElston @lbelmore-gc I'm fine with that, we may want to get Alex's opinions on it, however I don't think testing showed that there was a risk that a person misses out on printing the document and goes straight to apply, so either way I think we are not hindering anything.  Also per the print preview @cfarquharson made a point that having it where it is seems that it will only print the top porti

[2020-09-09 17:49] lbelmore-gc commented on #80
This looks good. My only question is that these fields are marked as "required"  - maybe that could be removed since it may be confusing

[2020-09-09 17:55] Christopher-O commented on #80
@lbelmore-gc  the 10% wage subsidy has the required field even though if you pick P5+.  I don't know if that was in any of the testing, so I cannot confirm if it's a hinderance or not.

Technically the fields are still required as they need to be entered (amount being 0.00) so I don't see it being a huge hinderance.  I will leave it to @Michel-Tremblay to determine if it would be quick to amend th

[2020-09-09 18:24] Michel-Tremblay commented on #80
I can remove the text "(required)" and remove the required attribute from the inputs, but the red * is a pseudo element generated by WET4 on initialization. I would have to reinitialize WET4 in order to remove those, then reinitialize again if the state of this changes.

[2020-09-09 19:26] Christopher-O commented on #80
@Michel-Tremblay I think simply hidding the required part of the label is sufficient.  The values are still "required" because there  has to be a value to calculate (even if it's 0).  For the application the user still needs to put $0 (for CPP), it will just give a validation error if they don't record any leave with pay employees.

[2020-09-09 19:40] lbelmore-gc commented on #84
Just reopening this one until it goes live. Adding it to the Ready for approval list (in project view) so we can get it on AEM and then live

[2020-09-09 20:14] lbelmore-gc commented on #82
@LMElston @Christopher-O @tanyafowler

Looks like we need to unbold the "and" and "them into" from the line:
You are now ready to print these amounts and enter them into your wage subsidy application

![image](https://user-images.githubusercontent.com/68651474/92647910-ac7c0500-f2b6-11ea-87cd-2e03eff231ca.png)

Also is there now a disconnect with the button and the text?? Or should there be an add

[2020-09-09 20:23] LMElston commented on #82
At a minimum I think we should remove the "You are now ready..." sentence from the Result alert. But yes I do think it belongs with the print button.

I still wonder if there is a way to present this as one summary rather than having the detailed section and then the math (I still worry the calculation summary may lead people to not realize they need to record lines A, AA, c1, etc.). Give me a min

[2020-09-09 20:46] lbelmore-gc commented on #87
adding a screen shot of new text

![image](https://user-images.githubusercontent.com/68651474/92653184-fadfd280-f2bb-11ea-80eb-90cae7683bef.png)

[2020-09-09 20:47] Alireme commented on #82
Agree with LM. It's not part of your result and should be moved to the bottom with the print button if it's going to be included. This error really focuses on the "it's all one application" thing. The wording could be something like "Print your results to ensure you have them ready for the next step in your CEWS application" or "Print your CEWS summary as your results will not be carried into the

[2020-09-09 20:56] LMElston commented on #82
![CEWS summary option 2](https://user-images.githubusercontent.com/63660698/92654137-67a79c80-f2bd-11ea-9ef8-309b5be41c8b.PNG)

Maybe we can merge the summaries, something like this?

[2020-09-09 21:00] Alireme commented on #82
This is a little scary looking, but definitely places more focus on the lines required for the application, instead of just the calculation summary at the end.

[2020-09-09 21:05] LMElston commented on #82
It might be too significant a change for right now--if so, we could just move the 'You are now ready' line to the end, above the print preview button.

It would at least resolve the cognitive issue I'm having with the two summaries, and would also make the amounts you need to enter forlines A-c3 a little easier to scan for (rather than them being at the ends of sentences). But it might introduce o

[2020-09-09 21:13] Christopher-O commented on #82
@LMElston @Alireme @lbelmore-gc  I have moved that statement above the print button.
As per @LMElston screen shot, It would be nice to sort of combine both the line and the math, however I feel it might be taking up too much of the weight (calculation and what numbers to add, but that now seems secondary).  Also this would look really awkward in mobile.

[2020-09-09 21:17] Christopher-O commented on #82
@LMElston now that we have moved the print button below, I wonder if the phrase at the top should be refined.  With the statement "Print and keep this record", if a person was to use the print button on their browser, they would get the entire webpage, which is not what they need.  Having the print preview button next to the text made it an easy way to signal they could use that function to target

[2020-09-09 21:22] LMElston commented on #82
The first option is fine by me @Christopher-O

[2020-09-09 21:26] LMElston commented on #82
Maybe there's a better place for the calculation summary table than within the print summary? It is secondary information and kind of distracts from the line items needed for the application. But I do agree that showing the calculation for Line H is good to show people. Just can't think of exactly where :/

I don't think it's a total dealbreaker as-is (esp. given the timelines) but I do feel like

[2020-09-09 21:30] Christopher-O commented on #82
@LMElston we can always hide it in an expand hide...we can also remove it from print as well with a class.

[2020-09-09 21:56] Christopher-O commented on #88
@lbelmore-gc @LMElston I have updated the checklist items for the calculate page.  After testing out by putting the content into two grids, the height of the content grew by about  25% and looked really imbalanced on some of the items.  So I instead replaced the and/or with the stacked font awesome icon and a tried out a small line seperator design to give it a bit more focus

[2020-09-09 22:01] LMElston commented on #88
I took a stab at separating the "and" items and simplifying the rest of the language where I thought there was an opportunity.

[Before you start.docx](https://github.com/gc-proto/covid-19-guidance/files/5198137/Before.you.start.docx)

[2020-09-09 22:04] LMElston commented on #88
I like the redesign and have a feeling it will help enough with the visibility of the second "and" item that separating them out is probably not necessary. I can re-word my document accordingly, I just need to wait until tomorrow morning to do it.

[2020-09-10 11:44] lbelmore-gc commented on #80
This looks good. My only question is should the content be the same as what they are using on the application? Here is what they sent in the email:
@tanyafowler @LMElston - can you have a look?

For consistency, can the online calculator and spreadsheet be updated as follows:

For Periods 5 and higher, return an error message above Line D (or Line E, as applicable) if:
•	Line AA = 0, and,
•	Line D

[2020-09-10 12:20] LMElston commented on #88
@Christopher-O Here's a second round that just tidies up the existing language without making the "and" items into separate checks.
[Before you start_r1.docx](https://github.com/gc-proto/covid-19-guidance/files/5201550/Before.you.start_r1.docx)

[2020-09-10 13:02] LMElston commented on #80
I don't think the error text needs to be the same. We make the line numbers/titles match because people need to manually transfer those numbers from the calculator to the application--error messages don't need this consistency.

That said, if we want to give people an opportunity to see/correct the problem, it might be helpful to add a line reference? e.g. "You have no employees on leave with pay

[2020-09-10 13:23] lbelmore-gc commented on #82
Here are the screen shots of what it is on the test site now:

![image](https://user-images.githubusercontent.com/68651474/92732805-f27faa00-f344-11ea-9f6a-5042a677ccc4.png)

![image](https://user-images.githubusercontent.com/68651474/92732997-2955c000-f345-11ea-983a-09150c7475f8.png)

I like some of the ideas above with updating the summary layout but also wondering if it is too much of a change

[2020-09-10 13:31] Michel-Tremblay commented on #80
I added this as placeholder text. I believe @Christopher-O was intending on updating it.

[2020-09-10 13:36] LMElston commented on #82
@Alireme do you have thoughts on the placement of the warning text?

@Christopher-O  can we remove "and based on the following criteria" from the lead-in sentence?

[2020-09-10 13:38] Christopher-O commented on #82
@lbelmore-gc @LMElston  @Alireme if testing showed at all where people migrated first in the panel area may give us a good indication where best to put the statement.   I will suggest that if the consensus is to put the statement by the button, I would change or drop the "Warning" statement as not to confuse users that the warning is about the button....rather the warning is about "not" pressing t

[2020-09-10 13:45] Alireme commented on #82
@LMElston @Christopher-O @lbelmore-gc Honestly I think it makes sense to have the warning be at the top of the calcualtor OUTSIDE the privacy statement. This is where people start inputting their data and therefore where they should be told to not leave the page because we won't save their work. Putting it at the bottom makes me think "Well now you tell me!"

[2020-09-10 13:51] LMElston commented on #82
That placement works for me!

If we want to have it in both places we could say: "You are now ready to **print these amounts** so you can enter them into your wage subsidy application. Data is not saved on this page. If you leave this page without printing you will need to enter your information again."

[2020-09-10 13:54] Alireme commented on #82
@LMElston I'm happy with that!

[2020-09-10 14:19] Christopher-O commented on #88
@LMElston is it okay to keep the "Both of the following apply"?  I know the "and" wasn't as of an issue as the or but I find that gives balance to the multiple scenario design.   Also, for the EI, QPIP, CPP and QPP...could it be considered confusing that the QPIP is only for Quebec (and does not have any significance for outside of Quebec), and the QPP is the alternative to the CPP not in addition

[2020-09-10 14:20] lbelmore-gc commented on #80
Ok. great. @LMElston @tanyafowler - I'll leave it to you to provide the text for these.

[2020-09-10 14:30] LMElston commented on #88
Both of the following apply is fine.

The and/and/and/or was confusing because it said 'EI and QPIP' but 'CPP or QPP' (for consistency, we should either say "EI or QPIP and CPP or QPP" or "EI and CPP or QPIP and QPP"). Technically it's possible for an employee to have moved from/to Quebec and have both (but very unlikely). I feel like the commas are easier to deal with than the ands/ors and people

[2020-09-10 14:34] Christopher-O commented on #88
@LMElston could we enhance the overlay text to include the phrase "- for Quebec employees only" for both the QPIP and the QPP.  I know they have the phrase Quebec in them, but I could see a new (maybe newly immigrated) business owner be confused on why they might need to calculate something that has the phrase Quebec in it...as well as if they were in Quebec, it doesn't apply to their employees wh

[2020-09-10 14:45] Christopher-O commented on #82
@lbelmore-gc @LMElston @Alireme  Those changes have been made.

[2020-09-10 14:46] Christopher-O commented on #80
@lbelmore-gc @LMElston @Michel-Tremblay validation label has been updated to @LMElston suggestion.

[2020-09-10 16:34] Christopher-O commented on #83
@Michel-Tremblay @Borges-Porteous @lbelmore-gc @Michel-Tremblay As per the discussion in the meeting, is the simple solution that Employee one has a reset button only (not red just grey), to clear the data?  Anything more would require alot more script amendments and bug testing...which I don't know if that's the best use of resources for something that I don't know if it's a want rather than a ne

[2020-09-10 16:43] Borges-Porteous commented on #83
The question would be how the rest of the form treats a blank employee field. If someone resets employee 1, then finishes their calculation, do they have 1 extra active employee in their results?

[2020-09-10 16:49] Christopher-O commented on #83
@Borges-Porteous yes that is a good point.  So maybe we don't add the clear/reset button for Employee 1 then and leave it as is.

In hindsight there were many things we could of done differently (like make the add employee an independent feature rather than a clone, and for furture applications it would be easy to build this from scratch with validation that they have to have at least one employee

[2020-09-10 17:10] Michel-Tremblay commented on #83
IMO, employee 1 _should_ be removable. The reason it isn't is because so much of the clone logic was done assuming that employee 1 would always exist that it would have been a lot more work to rewrite the clone logic and redo all the testing rather than assume that someone can enter their first employee's data correctly, or re-enter it if they made a mistake.

Now it's more an exercise of rewritin

[2020-09-10 17:12] Alireme commented on #83
My concern is that we're trying to solve something we aren't sure is even a problem. I haven't heard once that someone wants or needs to reset an employee, just the ability to delete.

[2020-09-10 17:27] Borges-Porteous commented on #83
Sorry, this is probably a silly question - but why do we have to redo the logic? Can't we just 'hide' employee 1 and make employee 2 the first one? Would probably still require calling the clone function when there's no visible employee panels after one is deleted, so I don't know if it's easier, but thought I'd mention the idea anyways.

Also... this approach might require the number of active em

[2020-09-10 17:53] Michel-Tremblay commented on #83
That's another approach, but now we're just choosing which part of this I'm re-writing.

The benefit I usually think of when I think of removing > hiding is that by removing the elements, they are no longer in the DOM taking up the user's resources (RAM), and it makes the calculation logic simpler.

It's an extreme case, but consider these steps as a user (while hiding unnecessary employees panels

[2020-09-10 18:16] lbelmore-gc commented on #82
@LMElston @tanyafowler - do we need translations for these?

[2020-09-10 20:04] LMElston opened #97 "FAQ navigation"
We received an email from LPRAB asking to add a table of contents to the FAQ page that includes each question as either a link or a text mention in the table of contents.

I have rejected this idea (though you can champion it if you really want to) but said I would check in to see if we had any other reasonably easy solutions to help people find what they are looking for on this huge page.

Recogn

[2020-09-10 20:16] LMElston commented on #97
[CEWS - updated Table of Contents.docx](https://github.com/gc-proto/covid-19-guidance/files/5204431/CEWS.-.updated.Table.of.Contents.docx)

(Adding their suggested ToC for reference.)

[2020-09-10 21:12] Christopher-O commented on #97
@LMElston in your mock up, would these titles be linked or just text?

[2020-09-10 21:43] LMElston commented on #97
That's LPRAB's mock-up, and I don't personally think we should do it (just leave the ToC as-is unless there's another alternative besides having 6+ pages of Qs listed in the ToC).

For what it's worth, they suggested either of those options though--links or just text.

[2020-09-11 13:04] LMElston commented on #94
From the program support log, via Mike Joy (email):

The Government has announced the eligible claims periods from March 15 until November 21, 2020, but the required reporting period on T4 slip is Mar 15 to Sep 26, 2020.

The employment income of CEWS amounts will be reported on employee’s T4 slip at the year end, or upon filing. In addition, to report these CEWS related employment income on box 1

[2020-09-11 14:12] Christopher-O commented on #97
@LMElston I agree.  I ask because if they were just text, there would be accessibility issues for visually impaired users, so we wouldn't impliment that just on that.  If they were links, then I don't see any advantage as I believe most users would still use Cntl+F to navigate through the blue and underline text...which then defeats the purpose, and in fact puts more burden on the user.  I agree t

[2020-09-11 18:41] LMElston commented on #89
Created 2 basic examples for P7 (need program review to confirm math
[P7 examples - what the changes are.docx](https://github.com/gc-proto/covid-19-guidance/files/5210974/P7.examples.-.what.the.changes.are.docx)
)

[2020-09-11 18:51] LMElston commented on #72
LPRAB's suggested wording for parallel structure and greatest accuracy is:

Even if you didn’t have a payroll account on March 15, you may still qualify if:
Situation 1
**another person or partnership** made remittances on your behalf

[2020-09-11 19:12] LMElston commented on #71
I think we are considering this issue replaced with the greater need for examples for periods 7 to 9 (issue #89). Closing this issue.

[2020-09-11 19:12] #71 closed

[2020-09-11 19:32] LMElston commented on #85
My feeling is that the main point of need for this information is when people get to the 'pre-crisis pay' information on either the Which of your employees qualify page or in the calculator ("what do I do if this person wasn't working for me then??". Fortunately the calculator pop-up draws from the Which of your employees qualify content so it can be in both places at once.

I have drafted a sente

[2020-09-11 19:47] LMElston commented on #82
Commenting to add the translations that have already been completed by J-F:

- updated text of "How the calculator helps you"
- updated text of "Before you start"
- changes to summary/print preview panel
[Calculate your subsidy amount_Sept 11 changes.docx](https://github.com/gc-proto/covid-19-guidance/files/5211251/Calculate.your.subsidy.amount_Sept.11.changes.docx)
[ssuc-calculez-montant-subventi

[2020-09-11 20:07] LMElston commented on #83
@lbelmore-gc In case we want to alert the user that employee 1 cannot be deleted, a couple of short suggested text options:

"The first employee can't be removed"
"The first employee can be updated but not deleted"

I still think this text may be overkill (I think it should be obvious that you can't delete the person by virtue of the fact that the button is not there, and I really think we need to

[2020-09-11 20:23] LMElston commented on #88
@Christopher-O I thought about the Quebec thing and I think there is enough information out there for people to be able to navigate this without spelling it out (if you're so new to employment that you don't know what QPIP/QPP are you're probably reading other stuff before this). Residency/location is slightly complex in terms of whether you deduct EI/QPIP or both. I suggest we keep an eye on feed

[2020-09-14 14:05] tanyafowler commented on #80
Validation text has been drafted in GitHub:

"You have no employees on leave with pay (line AA) during this claim period."

Added to:

- **Total EI and QPIP premiums that you paid on salary to eligible employees on leave with pay (for the claim period)**
- **Total CPP and QPP contributions that you made on salary to eligible employees on leave with pay (for the claim period)**

Sending to J-F for

[2020-09-14 14:23] tanyafowler commented on #80
French message:

"Vous n'avez pas d'employés en congé payé (ligne AA) pendant cette période de demande."

[2020-09-14 19:40] lbelmore-gc opened #98 "clarify example text on What the changes are page"
On What the changes are page:

Under How much you can qualify for, the format of the expand/hides is not parallel (and the 1st one only mentions period 5, wheras the 2nd mentions 5 and 6)

![image](https://user-images.githubusercontent.com/68651474/93130385-723caa00-f6a0-11ea-9a82-c2485d91846d.png)

@tanya - can we add this edit to the P7 list?

[2020-09-14 19:42] lbelmore-gc opened #99 "Safe harbour rule clarification"
Safe Harbour - limited understanding of the rule, we mention it a  lot without showing much of an explanation. It's a popular search term.

Need to determine where and how to clarify this term.

[2020-09-14 20:36] lbelmore-gc commented on #83
@Alireme @Christopher-O @cfarquharson - hoping to close the loop on this one (at least for this release)

Looking for your recommendation on the UX flow for the remove an employee feature. Currently employee 1 has no remove button, all other employees added have a red remove button.

- add note in place of remove button - (Laura May provided examples above)
OR
- leave employee 1 as is with no remo

[2020-09-15 20:14] tanyafowler commented on #85
Sent document to Ken and David for review and feedback, along with P7 math example.

[2020-09-15 20:17] tanyafowler opened #102 "Period 7 calculation example"
Laura May drafted an example to use on the What the changes are page. Sent to Ken and David for review and feedback along with the clarification about new employees for the Which of your employees qualify page (issue #85 - New employees - clarify eligibility).

[2020-09-15 20:19] tanyafowler commented on #80
PubHub ticket # 208367 completed today - these changes are now live. Closing issue.

[2020-09-15 20:19] #80 closed

[2020-09-15 20:24] tanyafowler commented on #82
Print button and disclaimers and the UX update for the How the calculator helps you steps are now live - PubHub ticket # 208367 completed today.

I have the translations for the 3 items @LMElston identified as outstanding but those changes have not yet been approved. Not closing this issue yet as there are still items that need to be completed. Might move those to a new issue - if I do I'll update

[2020-09-15 20:25] lbelmore-gc commented on #84
@Christopher-O @Michel-Tremblay - can you summarize the change made to the logic for the button? I was trying to compare the live site with test and want to make sure I understand the difference with the button functionality.

[2020-09-15 22:12] Christopher-O commented on #84
@lbelmore-gc  I believe all it does is recalculate the values in the calculator for step 2a before reinputing the values into the next steps.  Before all it did was just put the values into the next steps but did not re-calculate if an amount was changed above.  @Michel-Tremblay I cannot recall if the function does anything more compared to it's current iteration.

[2020-09-16 01:33] lbelmore-gc commented on #82
this is now live - closing ticket

[2020-09-16 01:33] #82 closed

[2020-09-16 12:03] Michel-Tremblay commented on #84
This is correct. When the button is clicked to send data down, the blur (when element loses focus) event is triggered for each weekly wage input, so it's as if the user tabs through each week to update the calculations. Then those updated results are sent down.

[2020-09-16 12:27] tanyafowler commented on #89
Sent example to Ken and David yesterday afternoon for review and feedback along with the clarification about new employees for the Which of your employees qualify page (issue #85 - New employees - clarify eligibility).

[2020-09-16 12:28] tanyafowler commented on #102
Duplicate issue - moved comment to original issue and am closing this one.

[2020-09-16 12:28] #102 closed

[2020-09-16 13:23] tanyafowler commented on #77
Closing issue - solution is live, however the nested alert still follows the "stable" alert styling rather than the "beta" styling CEWS normally uses. Chad confirmed this cannot be fixed. Current solution is acceptable.

[2020-09-16 13:23] #77 closed

[2020-09-16 13:28] tanyafowler opened #103 "Clarify employees on leave with pay for P7 without regulation"
Need to add bullet to the [How the subsidy is calculated](https://canada-preview.adobecqms.net/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-how-subsidy-calculated.html) page.

For P7, EEs on leave with pay are included following rules for P5/6.

For P8 onward, EEs on leave with pay are affected by the upcoming regulation.

[2020-09-16 13:46] tanyafowler opened #104 "P7 will open Sep 30 - update landing page alert"
Update alert on CEWS landing page:

Applications for claim period 7 (August 30, 2020, to September 26, 2020) will open September 30, 2020.

Demandes pour le période de demande 7 (30 août, 2020, au 26 septembre, 2020) seront en vigeur le 30 septembre, 2020.

[2020-09-17 13:27] lbelmore-gc opened #106 "Update instructions to calculate the pre-crisis amount"
The following example has come in from the call center - with a need to update instructions to calculate the pre-crisis amount. **Ken has an put together an alternative way of calculating and is circulating for approval with finance and others.**
**We will need to make the necessary updates once he sends the new content.**

“Calculate the pre-crisis pay amount
1.	Total all the remuneration paid to

[2020-09-17 16:19] tanyafowler commented on #84
@Michel-Tremblay can you outline the code changes for the recalculate functionality and send it to me so I can include it in the PubHub ticket? Mathieu will be working on the ticket. Thanks :)

[2020-09-17 16:20] tanyafowler commented on #87
Part of PubHub ticket 208575 - assigned to Mathieu.

[2020-09-17 16:20] tanyafowler commented on #88
Part of PubHub ticket 208575 - assigned to Mathieu.

[2020-09-17 16:23] tanyafowler commented on #83
@Michel-Tremblay can you outline the code changes for the Remove button so I can include it in the PubHub ticket Mathieu will be working on? Thanks :)

[2020-09-17 16:23] tanyafowler commented on #86
@Michel-Tremblay @Christopher-O Can one of you outline the code changes so I can include it in the ticket instructions Mathieu will be working on? Thanks :)

[2020-09-17 16:33] Christopher-O commented on #86
I will defer first to @Michel-Tremblay to send the code as I would only be able to send the HTML and not the Javascript/JQuery.  However if needed, I can provide at least the HTML code.

[2020-09-17 16:45] tanyafowler commented on #72
Missed sending this to J-F for translation. Sent to Carmen since J-F is off today and tomorrow. When Carmen replies I'll send PubHub ticket.

[2020-09-17 16:53] tanyafowler commented on #104
Will bundle minor changes with minor changes to Who can apply page once I receive a short translation for Who can apply.

[2020-09-17 16:54] Christopher-O commented on #86
@tanyafowler no problem.  @Michel-Tremblay will still need to provide the JS code snippet to make it work though.

[2020-09-17 17:41] Michel-Tremblay commented on #84
if we're publishing #83 and #86 along with this, could we just copy all the javascript rather than doing this one bit at a time?

[2020-09-17 18:16] tanyafowler commented on #84
@Michel-Tremblay  - Yes - so if I tell Mathieu to just copy all JS he won't pick up anything that isn't meant for this release? I wasn't sure what might be on the test page that isn't finalized or approved.

[2020-09-17 18:35] Michel-Tremblay commented on #84
Correct. These three changes plus the validation change that was all that I had worked on. I think it's safe to copy all the JS.

[2020-09-17 18:37] tanyafowler commented on #84
Great, thanks Michel.

[2020-09-17 18:58] tanyafowler commented on #84
Mathieu has reminded me that there were some JS changes made for the French version in AEM. He's asking if he can copy and paste the JS from GitHub to the French version of the page. I assume no, that would overwrite the customization we need for French?

[2020-09-18 11:56] Michel-Tremblay commented on #84
I double checked, all my code is written to support both languages. If Matthieu could point out the part that's specific, I would actually want to rewrite it so we never have to worry about this kind of difference again.

[2020-09-21 12:36] LMElston commented on #99
The explanation is here:
https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-how-subsidy-calculated.html#safeharbour

Questions to answer:
- is this explanation sufficient?
- where should we link to it from?

[2020-09-22 14:39] lbelmore-gc commented on #83
Hey guys - Just noticing an issue with the remove employee functionality.

If I add employees and then remove them - my summary still has the total I had before deleting. I had added 4 employees - deleted 2 and then my final summary shows 4 employees see below

![image](https://user-images.githubusercontent.com/68651474/93897073-a840e600-fcbf-11ea-90e5-7565ed511d5f.png)

[2020-09-22 14:48] Michel-Tremblay commented on #83
Did you resubmit after removing employees?

[2020-09-22 14:54] Christopher-O commented on #83
@Michel-Tremblay I just checked it and it's not that.  Even before sending the data below (clicking the button), I also added 4 employees, deleted two and it still says 4 employees...

[2020-09-22 14:56] Michel-Tremblay commented on #83
the portion in the screenshot is updated by fields in 2b. if you dont recalculate, you wont see the changes. i thought this was what we agreed the functionality would be.

[2020-09-22 14:59] Christopher-O commented on #83
But I didn't "recalcuate" I just "calculated".   I added the employees, removed two then pressed the calculate button....I didn't add employees press the calculate button, and then remove employees then expected the number of employees to auto change.

The recalcuation function is only if someone makes a change "after the fact" of pressing the button to send the data.  If they haven't set the data

[2020-09-22 15:25] Michel-Tremblay commented on #83
Just pushed an update that should fix this. Sorry for the confusion.

[2020-09-22 15:35] Christopher-O commented on #83
@Michel-Tremblay thanks! I'll let him know.

[2020-09-22 15:42] Christopher-O commented on #83
@lbelmore-gc @Michel-Tremblay the patch has been applied to preview and seems to be working now.

[2020-09-22 16:21] lbelmore-gc commented on #83
Thanks guys! Looks good :)

[2020-09-23 19:53] LMElston commented on #72
The new text has now been published.

[2020-09-23 19:53] #72 closed

[2020-09-25 12:12] lbelmore-gc commented on #94
Adding in the details from Sara's email:

Looks like the Canadian Payroll Association has flagged that some of the content on the CEWS pages is out of date. Not sure if this was part of the updates you and your team are already working on but if not, can you look into updating the content to include the details on the reporting codes?
They are currently available on the support for employers web p

[2020-09-25 12:12] #83 closed

[2020-09-25 12:12] #98 closed

[2020-09-25 12:33] lbelmore-gc commented on #89
Adding comments from email between Ken and Christine in regards to expanding on this example:

From Ken: this is an example so we get to control the assumptions. Think we should add the qualifer that the example is for an “Eligible active arms-length employee …” We could then footnote the example indicating that for a non-arms-length employee, the amount would be based on baseline remuneration if

[2020-09-25 12:33] #88 closed

[2020-09-25 12:33] #85 closed

[2020-09-25 12:34] #87 closed

[2020-09-25 12:34] #84 closed

[2020-09-25 12:34] #86 closed

[2020-09-25 12:34] #104 closed

[2020-09-25 15:30] lbelmore-gc opened #112 "P7 applications open"
Updates to open P7 applications

Landing page
- Update alert to "Applications for claim period 7 (August 30 to September 26) are now open"

Periods you can apply for -
- Move period 7 from "Upcoming" to "Open"
- change Apply now to Yes

How to apply
- Change alert that appears when period 7 is chosen from drop down
"claim period for ... is open"

[2020-09-25 20:17] LMElston commented on #112
Changes drafted and will be submitted to PubHub once the widget is published (Monday).
[Sep30_P7_changes.docx](https://github.com/gc-proto/covid-19-guidance/files/5285156/Sep30_P7_changes.docx)

[2020-09-28 16:09] LMElston commented on #112
PubHub ticket submitted: [209145](https://pab-dgap-lse-esl.isvcs.net/pubhub/pub/cp/consultRequest.action?id=209145&l=en)

[2020-09-29 13:51] lbelmore-gc opened #113 "P8 content updates re. employees on leave calculation"
Review content and determine content updates needed

Here is the latest of the furloughed employees -
https://www.canada.ca/en/department-finance/news/2020/09/government-provides-update-on-support-for-furloughed-employees-under-the-canada-emergency-wage-subsidy.html

[2020-09-29 14:40] LMElston commented on #113
Drafting the changes to "How the subsidy is calculated" that would result from this announcement.

[2020-09-29 15:25] LMElston opened #114 "Break "After you apply" content into separate pages"
Per testing results (task failure/page feedback) and consistency of navigation with other benefits.

Create prototype top-level pages for:
- Keep getting your payments
- Change or cancel an application
- Return a payment
- [to-be-titled reporting/compliance page]

[2020-09-29 16:01] LMElston commented on #91
Closing this issue as the end of CEWS appears to be in the distant future. Will create a new issue when it becomes one.

[2020-09-29 16:01] #91 closed

[2020-09-30 13:43] #112 closed

[2020-09-30 15:07] #103 closed

[2020-10-01 15:24] LMElston opened #115 "Update "What the changes are" with new announcement info"
When details of the extension are announced, this page will need to change to:

- add details of announced changes for affected periods (probably to new tab at top of page)
- remove emphasis on safe harbour and mentions of "maximizing"
- remove "how much you can qualify for" content (or change to reflect new periods if possible)
- integrate later periods into examples and remove some period 5 and

[2020-10-02 12:39] LMElston commented on #114
Work in progress pages will be linked from this draft version of the landing page:
http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/index-ext.html

[2020-10-02 14:44] Borges-Porteous opened #116 "Date get function not compatible with 2021"
Updated javascript to dynamically append 2020 or 2021, and a 0 to make the month 2 digits for months before October that works across for any new CEWS periods up to the end of 2021.

Still pending testing in IE.

After that, we can move to AEM, but it will not be required until p10.

[2020-10-02 18:11] LMElston commented on #115
I created a working version on GitHub (with no real content) to use as our playground:
http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/cews-what-changes.html

[2020-10-02 18:16] LMElston commented on #114
Very tentative top-level menu/heading structure with new pages (for our discussion/input):

What the changes are
Who can apply
Periods you can apply for
Which of your employees qualify
Calculate your subsidy amount
How to apply
Keep getting your payments
- Apply again for later claim periods, When and how we send your payment, Review of claim information
Change your application
- Why you may want

[2020-10-05 16:10] tanyafowler opened #117 "French spreadsheets - P5/6 and P7 - language improvements"
Creating issue for tracking purposes.

Miguel sent updated versions of French files after discussion with J-F regarding terminology. J-F confirmed versions and the version release note.

Submitted PubHub ticket 209571 to have new versions uploaded to AEM.

[2020-10-05 17:32] lbelmore-gc commented on #93
closing ticket - language update have been made. No structural change to be made at this time

[2020-10-05 17:32] #93 closed

[2020-10-05 18:14] lbelmore-gc opened #118 "P8 (pre-royal assent) updates - Calculate your subsidy amount page"
Updates for P8 needed to allow calculation (in advance of applications opening) to go live on Oct 21st - unless extension announcements come out and adjustments are needed.

- No spreadsheet or calculator changes required - expect rename spreadsheet from Period 7 to Period 7-8
- add period 8 to drop down list
- updates months for baseline associated with P8

@Borges-Porteous - anything else needed

[2020-10-05 18:21] lbelmore-gc commented on #114
@LMElston - thanks for getting this together. It's a great starting point.

I know Chris and Alex are away this week. There is no rush or hard deadline for these changes - but worth a discussion.

@cfarquharson / @Christopher-O / @Alireme / @qusai-barakat - have a look at Laura May's draft version on the test site as well as her notes and questions above and please add any comments to feedback

[2020-10-05 18:27] lbelmore-gc commented on #115
Thanks @LMElston. The updates to this page will really depend on what is involved in the extension.

I would also say we should discuss what is the purpose of this page - and if the title should be changed. Is it a summary of the changes? or an overview of the program

[2020-10-05 19:16] qusai-barakat commented on #114
Hi team,

I'm coming into this a little blind in comparison to the rest so apologies if some comments were discussed in the past.

Is it possible to compile **Change your application** and **Return a payment** together? They're both pretty long, but if we were to drop some of the elements into accordions like the **If you were paid by direct deposit** and **If you were paid by cheque** sections of

[2020-10-05 19:54] Borges-Porteous commented on #118
I don't think so - that second bullet for drop down list applied to both the spreadsheet and online site.

Other than the change in rate multiplier, the other rules all seem to be consistent with Period 7, so that should be as-is.

[2020-10-05 19:59] tanyafowler commented on #117
PubHub completed. Updated spreadsheets are now live. Closing issue.

[2020-10-05 19:59] #117 closed

[2020-10-06 13:11] LMElston commented on #114
Thanks for your thoughts!

Maybe? My only issue with combining these is changing the H1 to something that will let people know they can find information on returning a payment and changing an application on the same page. Some people (maybe most? I'm not sure about that part) will need to return money because CRA rejected or adjusted a claim (rather than it being because they decided to change it)

[2020-10-06 19:56] qusai-barakat commented on #114
Just following up on our meeting earlier today. Recommendations based on the PPT Alex presented can be found below.

Task 1 and 5 have already been addressed. Task 2 is solved with the new page divisions that Laura May has in the draft of the test site. Task 3 is a small copy change that may help with some confusion. Task 4 is the only outstanding issue.

Once we receive the missing content, we ca

[2020-10-07 17:41] lbelmore-gc commented on #114
Thanks @qusai-barakat

For **task 3 and 4** (timing for payments and status of application) - We discussed getting more information from the call center to confirm what they are communicating to users. I believe that Alex was contacting Roger on this. Do you know if she reached out before she left?

For **task 2** (separating the After you apply content) – thanks for confirming the results. This b

[2020-10-07 18:31] Borges-Porteous commented on #114
This is really hard to comment on Lisa!
1. Qusai's notes state that for Task 2 specifically, there was indeed a findability issue with the label "After you apply".
If that's what the evidence says, it's hard to push Chad's model, even though the After you apply heading seems to be good for tasks 1, 3-5 and is much cleaner for the other top tasks...

I would like to recommend using Chad's cleaner a

[2020-10-07 19:00] LMElston commented on #99
I think most of the references to this rule will be removed from 'What the changes are' as we move into the next launch. However, we can link the term "safe harbour" that appears in any remaining period 5 and 6 examples on that page.

We currently have this paragraph on 'Calculate your subsidy amount':

Which we could edit to include a link to the explanation:

[2020-10-07 19:50] qusai-barakat commented on #114
I never heard anything about her reaching out. I sent him an email and will follow up when I hear back in regards to 3 and 4.

As for task 2, users didn't have an issue with the H1 label for After you apply since that's where they initially assumed they needed to be. The issue was, once they were on that page, there was too much content and the time on task was averaging 3 minutes. So, either Laur

[2020-10-07 20:49] LMElston commented on #114
Re. task 2 and testing: would a basic A/B test before launch be reasonable under circumstances like this, rather than making a change and hoping we guessed correctly? I mean--we can also do that :) but since we're basically considering two nav options maybe this could be worthwhile?

[2020-10-07 21:09] qusai-barakat commented on #114
That was my initial thought as well (re. A/B testing). I reached out to some team members on the UX team about that a couple of hours ago and they mentioned we currently don't have any tools for A/B testing. I'm unsure if tools are shared between teams yet as I've only been with the CRA (and the government as a whole) for a month now so if that's an option then that's great. Otherwise, a workaroun

[2020-10-07 21:13] Borges-Porteous commented on #114
If Task 2 is fine with that After you apply label, then there's no reason not to go with simplified nav.

As Qusai says, we'll retest afterwards, which covers any unexpected issues.

@qusai-barakat Yeah, from what I heard IRCC is working with Service Canada to set up A/B testing with the toolset over there, but apparently they're not sharing access yet... CRA doesn't have an A/B testing solution o

[2020-10-08 13:01] tanyafowler commented on #106
Draft sent to Ken yesterday for review and approval. CC'd David, Lisa. and Laura May.

[2020-10-08 14:58] LMElston commented on #115
I will propose some of these updates as part of the P8 update as well (removing some/most of the references to maximizing the benefit/safe harbour as well as some P5-6 examples). I'll update the doc/page once the P7 example fix is in place.

[2020-10-08 15:02] LMElston commented on #114
Ah interesting @qusai-barakat, thanks for that info.

I'll work on getting Chad's prototype version updated with the current menu and new sub-pages/doormat text so we can see what that looks like.

[2020-10-08 15:08] qusai-barakat commented on #114
re **task 3 and 4**, Roger will get back to me Tuesday or Wednesday next week. Will follow up as soon as I hear anything.

[2020-10-08 18:01] lbelmore-gc commented on #114
Thanks all!!

Glad we talked through this. We will see how things look with Laura May's updates to the subpage version and go from there.

[2020-10-13 15:19] tanyafowler commented on #106
Received edits and approval from Ken Oct 8. Sent PubHub ticket 210062. Ticket returned from Web dev for review today - approved ticket for publishing. Updates are now live.

[2020-10-13 15:25] tanyafowler commented on #94
Since the content is already posted on the Information for employers page (COVID campaign) - https://www.canada.ca/en/revenue-agency/campaigns/covid-19-update/support-employers-cra-covid-19.html - have added link to this page on the After you apply > Include the subsidy on your returns section.

https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-after-apply.html#h

[2020-10-13 15:25] #94 closed

[2020-10-13 15:27] tanyafowler commented on #89
Sent Word doc to LPRAB for review and approval on Friday. Once approved will need the additional disclaimer translated before sending PubHub ticket.

Proposed changes:

[cews-what-changes.docx](https://github.com/gc-proto/covid-19-guidance/files/5372381/cews-what-changes.docx)

[2020-10-13 17:38] Borges-Porteous commented on #114
Maybe something like "Keep records as CRA reviews your file"? Or something to that effect? Then we have both an action and alert that it's CRA that has things to do.

[2020-10-13 17:42] LMElston commented on #114
@Borges-Porteous if we use that H1, it still obvious enough that that's were you find information about how to report CEWS on your taxes?

[2020-10-13 17:45] Borges-Porteous commented on #114
Nope, that's another aspect, isn't it.

Maybe "Keep records for tax filing and audits"?

[2020-10-13 18:04] Christopher-O commented on #114
Perhaps after you apply should be more specific to the period, like "after you apply for a claim period".  the reason I suggest this is because except for the keeping of records for review, all of the sub pages may not apply to everyone. An application may only apply for one period (keep gettting your payments), you may never have to change your application or return a payment.  The only one that

[2020-10-13 18:04] LMElston commented on #114
"Audit" is too specific for this use, so I'd maybe rephrase this version to "Keep records for tax filing and review"

I like that this is task phrasing. On the down side, it still places the emphasis on "keep records" which is the least valuable information on the page (tax filing #1, verification/review #23

[2020-10-13 18:09] Christopher-O commented on #114
I don't see it much of an issue.  Keep records is the most important part because when you have to file, or if you do get reviewed it's very valuable to have that information at hand.  So keep records is the action the applicant must do.

[2020-10-13 18:14] LMElston commented on #114
I think the primary task on this page is "Report CEWS on your tax return". The questions people are going to have as we move toward filing season are going to be about whether or not CEWS is taxable, what T4 codes to use, etc. So keeping records is important (and is a task) but this H1 still sort of buries the lead to me? In addition, we offer 0 information about what specific records you need to

[2020-10-13 18:19] Borges-Porteous commented on #114
"Report CEWS on your tax return" is very nice! That also sounds like the important task here.

Keep records is something they need to be reminded of that when they have the opportunity to print things out. After they finished going through the calculator and application, then it's already a bit too late anyway.

As for reviewing... that's not a user task at all. It should rather be a section on th

[2020-10-13 18:27] LMElston commented on #114
It's beginning to sound like this content does not belong on the same page.

The information about review involves a few different stages of CEWS--primarily, it relates to what to expect if CRA calls you or sends you a letter to verify information you entered on your application. When this happens, it is always after you apply, but sometimes before we send the payment (for example, applicants may

[2020-10-13 18:36] Borges-Porteous commented on #114
A separate page could well be it. "Pay penalties for over-claims" perhaps, where people can read that to find out how and when over-claims are determined and what they'll need to do to prove they aren't overclaiming, etc.

It depends whether they are tied together by a "Keep records" task, or if taxes is the task people are actually interested in, meaning that "Prepare for a CRA review" ends up st

[2020-10-13 18:37] LMElston commented on #114
As food for thought (while I go attend to more pressing P8 matters for a moment), here are a few reasons someone might want the review content...
- CRA called them to verify their CEWS claim and they don't know whether or not it's a scam
- someone is thinking about fudging the numbers and wants to know how bad it will be for them if they're wrong
- an applicant wants to be prepared in case they ge

[2020-10-13 19:13] Christopher-O commented on #114
I agree with @Borges-Porteous that Report CEWS on your tax return is a good title.
As for the other points they are pretty independent of each other.  If we are breaking up after you apply, then that is the fall out of these types of situations, it makes it difficult to re-categorize them easily.

[2020-10-14 14:32] LMElston commented on #115
Emailed proposed changes to Ken/David/Bob Oct. 13th

[2020-10-14 16:37] LMElston commented on #115
Another news release is apparently coming out today--will edit link (and possibly text) accordingly before publishing the page.

[2020-10-14 19:07] LMElston commented on #114
I've updated Chad's mock-up with a possible version of the sub-pages. I haven't done the right menu on all the sub-pages yet (or polished up the content) but in case you want to take a look:

http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/cews-after-apply.html

@Christopher-O should the right menu be expanded to show the sub-pages on this type of page when you're on the parent page, o

[2020-10-14 20:16] Christopher-O commented on #114
@LMElston it only needs to be visible on the child pages as the main page (after you apply) already has the links to the child pages, so its basic duplication of links which could be confusing.

[2020-10-15 13:56] LMElston commented on #89
Oct 15 - Bob came back with comments/suggestions for existing example text (all examples) as well as the disclaimer. Will review and propose changes accordingly.

[2020-10-15 17:34] LMElston commented on #99
Just a note to say we'll need to be careful about how we phrase this given that they are also referring to the new top-up calculation (proposed) for P8-10 as a safe harbour rule. If we treat it like the deeming rule we could consider "the safe harbour rule for periods 5 and 6" and "the safe harbour rule for periods 8 to 10" if it's not clear from the context what we're referring to.

[2020-10-15 18:41] qusai-barakat commented on #114
Hi team,

I heard back from Roger in regards to tasks 3 and 4

**Task 3:**

Quote from Roger:
"For the 3-5 Business days that is normally how we word it however, adding excluding weekends and holidays may clarify it."

Two recommended options here. The second option was recommended by Alex in the After you apply findings presentation. The 3 - 8 days includes both, weekends as well as holidays if i

[2020-10-15 19:48] LMElston commented on #97
Just adding a short update to say that this ball is still in LPRAB's court for the time being (they have not decided what they want to do about the proposed ToC).

[2020-10-15 19:51] LMElston commented on #89
Sent revision back to Bob for input.
[October 13 BN cews-what-changes_r2.docx](https://github.com/gc-proto/covid-19-guidance/files/5387420/October.13.BN.cews-what-changes_r2.docx)

[2020-10-15 19:56] LMElston commented on #113
Draft reviewed by David O. with no issues noted. Next step Lorraine et al.
[Howthesubsidyiscalculated_Oct 15.docx](https://github.com/gc-proto/covid-19-guidance/files/5387457/Howthesubsidyiscalculated_Oct.15.docx)

[2020-10-15 20:06] LMElston commented on #115
Changes have been reviewed by LPRAB. @lbelmore-gc let me know how I can support the next step of getting Lorraine et al to approve :)

[2020-10-15 20:18] LMElston commented on #114
Thanks @qusai-barakat, that's informative.

My preference for task 3 is to say "3 to 5 business days (excluding weekends and holidays)". I think it's clearer.

For task 4, I like your sentence. I might change it a little to "To check the status of your application, please go to My Business Account" (just to remove the double 'check'). Then, I think you're right, if people still don't see the statu

[2020-10-15 21:08] Christopher-O commented on #114
@qusai-barakat @LMElston correct me if I'm wrong but I thought from Alex's presentation that it was the phrase "business days" that was tripping people up, not that it wasn't "clearer".  Its kind of odd to say 3 to 5 business days and then say excluding weekends and holidays as per our (CRA) schedule, weekend and holidays are never a business day so they can never be excluded.  It's like saying I

[2020-10-15 21:33] qusai-barakat commented on #114
@Christopher-O Exact recommendation from Alex is as follows:

**Issue:** People knew where to find the information but struggled to connect “3-5 business days” with actual days of the week.
**Recommendation:** “Business days” is where people struggled most. Counting weekends in our estimates will provide a clearer sense of time for applicants.

Business days was what was confusing people, which is

[2020-10-15 21:52] Christopher-O commented on #114
@qusai-barakat  I thought the original recommendation was to change it to:

3 to 8 days (excluding weekend or holidays)

Then the phrase "business days" are not even a part of the lexicon.  If someone is knowledgeable about what a business day (per the common use of the term) is, then they know it's not a weekend or a holiday already.  Is there a best practice on keeping that phrase in?  If not, w

[2020-10-15 22:06] qusai-barakat commented on #114
@Christopher-O here's the recommendation:
![image](https://user-images.githubusercontent.com/71138731/96190783-c4c3ed00-0f10-11eb-8f9b-8a9043cb2e1a.png)

Correct me if i'm wrong but that's the recommendation I saw in the PPT document. Which is why I was mentioning maybe just dropping the bracket text completely may be the best solution. 3 - 8 days is simple and straight to the point.

[2020-10-15 22:15] Christopher-O commented on #114
@qusai-barakat  I agree.  Unless there is some fundamental reason to keep the phrase "business days", I'm all for dropping it.

[2020-10-15 22:27] qusai-barakat commented on #114
I'll let others speak to that. There may have been discussions in the past about keeping that phrase in that I'm not aware of.

[2020-10-19 16:03] lbelmore-gc commented on #118
With this pre royal assent P8 update the other item to include is

[2020-10-19 17:18] lbelmore-gc opened #121 "P8 (post royal assent) calculator update"
Updated version of calculator and spreadsheet to include finalized changes:

Top up calculation - update to check and use the best rate between:
- current month
- previous month
- 3 month average (now referred to as a safe harbour rule)

Update where required to flag the need to recalculate and amend applications

Miguel's updates for this version are currently found at:
http://test.canada.ca/covi

[2020-10-19 18:39] lbelmore-gc commented on #113
@LMElston - is this one complete now that we published the extension updates on Friday?

[2020-10-19 19:29] LMElston commented on #113
Yes! Closing.

[2020-10-19 19:29] #113 closed

[2020-10-19 19:38] LMElston commented on #118
Just want to add this change here as we often forget it:
You can currently use the calculator for claim periods **1 to 7**. More periods will be added as they become available.

[2020-10-19 19:41] LMElston opened #122 "P8 (pre-royal-assent) content updates (non-calculator)"
Content updates for opening of P8:
- Landing page - Update announcement for P8 opening
- What the changes are - Maybe add P8 examples (if ready; otherwise wait for post-RA)
- Periods you can apply for - Move P8 into active
- How to apply - Add P8 to available and consider disclaimer alert

[2020-10-19 19:48] LMElston opened #123 "P8 (post-royal-assent) content changes (non-calculator function)"
Changes to the content once the changes announced receive royal assent:

Landing page (first draft in Word, attached below)

- Update announcement re. changes to the program, link to what the changes are

[What the changes are](http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/cews-what-changes.html)

- Change top tabs to give overview of changes by date of change instead of applicable p

[2020-10-19 19:51] LMElston commented on #115
Closing this issue as interim changes have been published. Further changes will be included in issue #123

[2020-10-19 19:51] #115 closed

[2020-10-19 20:34] LMElston commented on #122
Attaching the proposed changes except for the P8 examples (not yet received).
[Oct28_P8_changes.docx](https://github.com/gc-proto/covid-19-guidance/files/5404520/Oct28_P8_changes.docx)

@lbelmore-gc let me know if you see any issues here!

[2020-10-20 18:01] lbelmore-gc commented on #122
Thanks @Laura May!

It looks good.  The only addition I didn't see would be on the How to apply page to also update the drop down alert
to mark it as "open"

[2020-10-20 18:50] LMElston commented on #122
No problem @lbelmore-gc
It's in there--it is at the top of the second page. Are you ok with that alert text? And do you think it's a good idea?

Were you looking for the calculator page to be in with this set of updates as well?

[2020-10-21 11:46] lbelmore-gc commented on #122
@LMElston - the alert is good. Let's send it to LPRAB and see if they are ok with it.

[2020-10-21 16:13] Alireme commented on #114
@Christopher-O @qusai-barakat My understanding was that there had previously been a lot of pushback for taking out "business days" on some of the other products, possible due to leg? Unclear. So it was kept in the brackets to satisfy that. If we are able to take that out and there's no formal reason for including "business days", I'm all for removing it.

Otherwise, @qusai-barakat was pretty spot

[2020-10-27 16:44] LMElston opened #124 "Update CEWS repayment process (After you apply)"
Received this message:
From: Kennedy, Melanie <Melanie.Kennedy@cra-arc.gc.ca>
Sent: October 26, 2020 8:45 AM
To: Content and IA Design-DDPD / Conception du contenu et de l'AI DCPN (CRA/ARC) <AIPIA-PIAAI@cra-arc.gc.ca>
Cc: Kennedy, Melanie <Melanie.Kennedy@cra-arc.gc.ca>
Subject: FW: Web page for CEWS info
Importance: High

Good morning,

Would you know who is responsible for this webpage: https://

[2020-10-27 16:44] LMElston commented on #124
Messaged Manon Comtois at ABSB (cc Mike Joy) to ask for assistance in modifying our existing 'After you apply' content to accommodate this new information.

[2020-10-29 13:54] LMElston opened #125 "Update CEWS - cancel a claim (After you apply)"
Request from Mike Joy (ABSB) to correct this section on After you apply as the system cannot handle the cancellation process as currently outlined, and people are consequently unable to complete the task. Attachment shows their approved/preferred wording. Will review and draft an update for approval.

[Upload on Canada.ca_002_Cancel a CEWS_FAQ.docx](https://github.com/gc-proto/covid-19-guidance/fi

[2020-10-29 19:16] LMElston commented on #125
Sent After you apply revisions to Mike + Manon for review.
[After you apply_Oct29.docx](https://github.com/gc-proto/covid-19-guidance/files/5460758/After.you.apply_Oct29.docx)

[2020-10-29 20:38] LMElston commented on #124
Edit sent back to Melanie for review (as well as Mike and Manon just in case they have feedback). Text of changes is in issue #125.

[2020-10-30 20:53] LMElston commented on #125
Manon is ok with the sentence specifically about canceling a claim. Still waiting on the other edits at the top of the page. If no progress by Monday I will move forward with just the payment and cancellation edits.

[2020-10-30 20:53] LMElston commented on #124
Melanie is ok with the updated language about repayments (which will need translation). Still waiting on the other edits at the top of the page from Manon/ABSB. If no progress by Monday I will move forward with just the payment and cancellation edits.

[2020-10-30 20:57] LMElston commented on #122
Published and OK for now :)

[2020-10-30 20:57] #122 closed

[2020-10-30 20:57] LMElston commented on #118
Published and OK :)

[2020-10-30 20:57] #118 closed

[2020-10-30 21:04] LMElston commented on #114
"Business days" might be hard to remove because CRA uses that term everywhere--I've floated that particular change (3 - 8 days) to ABSB to see what they think about it and will let you know. I thought 'weekdays' might be an acceptable alternative but if people don't understand business days maybe they also don't understand how 3 weekdays wouldn't include a weekend? I don't know. This bit of user e

[2020-11-02 21:20] LMElston commented on #123
Mock-up of [Periods you can apply for](http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/cews-periods-apply.html) using the tested design from another benefit.

[2020-11-02 21:56] LMElston commented on #123
The changes for How the subsidy is calculated will need to wait until further information has been released about the treatment of employees on leave for P9+. If this information is not included in the bill, this can be a separate update from the rest of the changes for Nov. 16.

[2020-11-03 17:36] LMElston commented on #123
Questions for @Christopher-O , @Alireme , @qusai-barakat, @lbelmore-gc , and @Borges-Porteous (if you have time):

- Does the **Periods you can apply for** page function and look ok in the GitHub mockup? Any recommended changes or is this one good to go to LPRAB for review?

For **What the changes are**, I think this page should serve as a sort of "news" page, more than an overview page, but I fee

[2020-11-03 18:43] lbelmore-gc commented on #123
Hey @LMElston - thanks for putting this all together.

For the periods you can apply for, I like the drop down as opposed to the large scrolling list.

This new layout now highlights the current and next period.
Is clear that they can apply or all past period and should we be also indicating the deadlines to apply? Maybe just a line of text with the All period drop down list.

@Christopher-O @Alir

[2020-11-03 19:32] Christopher-O commented on #123
@LMElston @lbelmore-gc  I think the periods should still be listed, but perhaps in an expand/hide.  Fieldflows should not hide information by default whenever possible (due to people not using javascript).   There is arguments within TBS about whether that is required (depending on the information), but as a primary source of providing the content (periods), I think it's a great idea.  I agree wit

[2020-11-03 19:49] LMElston commented on #123
@lbelmore-gc the deadline is listed when you select a period--are you thinking we should also say something general before the drop-down like "the deadline to apply is the later of either 180 days after the end of the period or January 31, 2021, whichever comes first"?

@Christopher-O It makes sense that we shouldn't hide this in a fieldflow--for this idea, are you picturing having the expand hide

[2020-11-03 20:14] lbelmore-gc commented on #123
@LMElston - for the deadlines - yes I was thinking that there should be a line to highlight the 180 day deadline. And of course as periods become expired we would update accordingly.

[2020-11-03 21:41] Christopher-O commented on #123
@LMElston  I think we can still have the fieldflow AND the expand/hide.  The fieldflow would clean things up and not pollute with information not needed (we did that for a CERB fieldflow).  I know the original idea was to have expand hides in expand hides, but it was abandoned as it was a bit "clunky".
For the "what the changes are, the content and styling could stay similar, we just parse it up m

[2020-11-03 22:55] LMElston commented on #123
Attaching some of the proposed changes drafted in Word docs here in case anyone needs access to them (not yet reviewed by LPRAB).
[CanadaEmergencyWageSubsidy_Nov16.docx](https://github.com/gc-proto/covid-19-guidance/files/5484514/CanadaEmergencyWageSubsidy_Nov16.docx)
[Whocanapply_Nov16.docx](https://github.com/gc-proto/covid-19-guidance/files/5484522/Whocanapply_Nov16.docx)
[Howthesubsidyiscalcul

[2020-11-04 03:44] LMElston commented on #114
Just a follow-up on checking the status of an application (**task 4**). I tried to slip in some wording around going to MyBA to check the status of your application during a related revision to the existing "After you apply" page from ABSB. Unfortunately, business enquiries came back and said the only thing applicants can see in MyBA is whether or not they have a CEWS balance. So if we want to add

[2020-11-04 23:44] LMElston commented on #125
PubHub ticket submitted Nov. 4

[2020-11-04 23:44] LMElston commented on #124
PubHub ticket submitted Nov. 4

[2020-11-05 22:29] LMElston commented on #125
Changes published Nov. 5.

[2020-11-05 22:29] #125 closed

[2020-11-05 22:30] LMElston commented on #124
Changes published Nov. 5.

[2020-11-05 22:30] #124 closed

[2020-11-10 13:01] lbelmore-gc opened #130 "Calculator prototype"
Adding this ticket to track the progress on the calculator and collaborate https://github.com/gc-proto/covid-19-guidance/projects

@ Miguel - can you add an screenshot of where it's at and highlight the major elements left to address or verify?
Tanya is working on content for this page in a separate ticket

[2020-11-10 13:03] lbelmore-gc commented on #130
Outstanding list of items in the works

Summary table and results:

- Bold the top 3 locations for the application form (3 at random if >3 tied)

- Fix a bug in the csv download of the summary table (extra column)

- Fix the layout issues in the final results summary

Calculation refresh feature:

- Update all locations’ lockdown support summaries when the base subsidy rate is updated

Browser iss

[2020-11-10 16:31] lbelmore-gc opened #131 "Calculate your subsidy - content"
Adding this ticket to track and collaborate on the content on the Calculate your subsidy page

highlighting areas that need attention:

- define affiliate entities
- clarify eligible expenses vs qualifying rent expenses
- make sure people know they must apply through MyBA or RAC - there is no WAC option (unlike CEWS)
- make sure people understand expenses must already be paid for the period (for e

[2020-11-10 16:34] lbelmore-gc commented on #131
Adding the latest feedback from LPRAB (attached word doc)

[calculate_your_subsidy_for_review.docx](https://github.com/gc-proto/covid-19-guidance/files/5518700/calculate_your_subsidy_for_review.docx)

[2020-11-10 16:55] lbelmore-gc opened #132 "After you apply page"
To track content development for After you apply page.

- Comment out the content related to change or cancel an application. **Change or cancel a claim you submitted** This section is not available to start and we will need

- Move section **Apply again for later claim periods** to be moved to the How to apply page

[2020-11-10 17:55] lbelmore-gc opened #133 "How to apply page"
Tracking for content requirements for How to apply page

http://test.canada.ca/covid-19-guidance/proto/rent-subsidy/how-apply.html

Items to be reviewed/updated:

-  review content on gathering info on 3 properties for the application - need to clarify language

- This page currently contains both setup instructions and how to apply steps for each claim period. Mockup separating the setup instruct

[2020-11-10 18:06] lbelmore-gc opened #134 "Who can apply page"
Tracking requirement and changes for Who can apply page

http://test.canada.ca/covid-19-guidance/proto/rent-subsidy/who-apply.html

[2020-11-10 18:11] lbelmore-gc commented on #134
Feedback from ABSB Nov 9th:
Update eligibility criteria in step 1 based on bullets from backgrounder:
•	have a payroll account as of March 15, 2020 or have been using a payroll service provider;
•	have a business number as of September 27, 2020 (and satisfy the Canada Revenue Agency that it is a bona fide rent subsidy claim); or
•	meet other conditions that may be prescribed in the future.

[2020-11-10 18:56] tanyafowler commented on #133
Removed option to add DD through banks.

[2020-11-10 19:55] lbelmore-gc opened #135 "Expenses you can claim"
ticket for tracking Expenses you can claim page progress and versions

Areas to note

rent vs mortgage expenses
paid expenses only
affiliate entities
agreement on percentage for entities claiming
defining terms - eligible rent vs qualifying rent expenses

[2020-11-10 19:57] lbelmore-gc commented on #135
Feedback from Louis Nov 9:
- I suspect we might get calls re: the ineligibility of a business who operate from their home residence. Let’s keep an eye out for that as it might be helpful to include an example (eg, daycare operating from the owners personal residence).

Attached feedback from LPRAB Nov 10:
[expenses_you_can_claim_DRAFT_v1_2_for_review.docx](https://github.com/gc-proto/covid-19-guid

[2020-11-10 20:20] Borges-Porteous commented on #130
The browser issues have been fixed... spent most of my day on that...

The calculator now works on IE, Safari, Edge (both the older version CRA uses, and the newer versions based on chromium) and Chrome.

The lockdown support summaries are now being updated properly when the base rent subsidy rate is updated.

@Christopher-O has said he will action the 3rd bullet on the layout for the final summar

[2020-11-10 23:37] Borges-Porteous commented on #130
The csv issue and the 3 locations have both been added.

Also, although we didn't note it here, I added a 'monthly' option to the picklist for 'Interest on Commercial Interest'.

[2020-11-10 23:37] Borges-Porteous commented on #130
Should we close this issue? Or keep it open for more updates that will probably happen as the week continues?

[2020-11-11 01:47] lbelmore-gc opened #136 "Periods you can apply for"
Ticket for tracking Periods you can apply for page

Should be mainly the same content as CEWS page.
Other areas to note:

aligns with cews claim periods - do we want to include this??
deadlines to apply (180 days)

Align with CEWS updates to layout http://test.canada.ca/covid-19-guidance/proto/wage-subsidy2/cews-periods-apply.html
- maybe post launch

[2020-11-11 22:16] lbelmore-gc commented on #130
@Borges-Porteous - let's keep it open until we get through the remaining small tweaks for this page.

Outstanding items
- Bold the top 3 locations for the application form (3 at random if >3 tied)
- Fix a bug in the csv download of the summary table (extra column)
- Fix the layout issues in the final results summary - @Christopher-O helping with this one

New items to address:
- rent vs own - swit

[2020-11-12 01:48] lbelmore-gc commented on #135
Update content to make more readable
- review formatting, styling/headers to highlight and break up content
- adding green checks and red x
- remove subleasing details in last checkmark bullet
- clarify personal residence not eligible
- review with LPRAB on other areas to clarify (or expand)
- plain language (technical term) - keep format consistent throughout the pages

[2020-11-13 13:32] Borges-Porteous commented on #130
Most of these have now been addressed. The outstanding ones include the post launch item - I know Shaun also had some recommendations around that, so it might make sense to set up a workshop of some sort?:

- @Christopher-O has made some updates to the layout of the results summary, but we still have another layout tweaks to fix for the print preview
- I did not update the lockdown support summary

[2020-11-23 14:49] LMElston commented on #123
Published Nov. 23

[2020-11-23 14:49] #123 closed

[2020-11-24 14:32] LMElston opened #153 "P9 content updates (non-calculator function)"
Updates to launch Nov. 30:

- CEWS landing page
- Periods you can apply for
- Calculate your subsidy amount text (periods 1 to 9)
- How to apply

[2020-11-24 20:51] LMElston commented on #153
[Nov30_P9_changes.docx](https://github.com/gc-proto/covid-19-guidance/files/5592664/Nov30_P9_changes.docx)
Here are the text changes for the pages, assuming that:
-	P9 opens for applications on Monday
-	We are adding P9 and P10 to the online calculator and uploading a spreadsheet just for those 2 periods
-	The opening date for P10 will be Dec. 23 (this can be removed if not confirmed in time)

[2020-11-24 20:54] LMElston commented on #121
Closing this issue as the P8 calculator has now been published live.

[2020-11-24 20:54] #121 closed

[2020-11-24 21:59] LMElston commented on #153
I submitted the PubHub ticket so the work can get started while we wait for approvals: [212670](https://pab-dgap-lse-esl.isvcs.net/pubhub/pub/cp/comm.action?id=212670&l=en)

[2020-11-25 18:57] lbelmore-gc opened #162 "P2 content updates"
Period 2 opens on Monday Nov 30th

- updating drop downs on 3 pages (periods you can claim, calculate your subsidy, how to apply)
- months in calculator page need to be updated
- Q&A messaging on Contact us

[2020-11-25 18:57] #135 closed

[2020-11-25 18:57] #134 closed

[2020-11-25 18:58] #132 closed

[2020-11-25 18:58] #131 closed

[2020-11-25 18:59] #133 closed

[2020-11-25 19:02] lbelmore-gc opened #163 "Arms length / Non arms length - expand details"
Based on feedback from call centre - there is a need to expand the definition for arms length / non arms length

- clarification to content
- add examples
- work with Ken to develop and validate content

[2020-11-25 19:10] tanyafowler commented on #162
P2 changes have been written up for Web dev. Ticket has not yet been submitted.

Ticket will include:
- How to apply
- Calculate your subsidy
- Periods you can apply for

Ticket will not include Contact us update, since timing for this is TBD depending on Robyn Macdonald and Jennifer Clark from Consultations and Stakeholder Engagement.

Received updated French translation from J-F.

Noticed How to

[2020-11-25 20:37] tanyafowler opened #165 "Metadata"
Fill out metadata spreadsheet and sent to Naomi for review.

Denise asked if this will help with the subpages appearing in search results. I believe yes, C.ca search relies heavily on certain metadata elements. I will confirm this with Naomi when I send her our metadata input.

Sean is working on it and will send me what he has by the end of his day tomorrow, before he's off on Friday.

[2020-11-25 20:38] tanyafowler commented on #165
Won't let me assign the issue to Sean Ratke so I've assigned it to myself. I'll send Sean's results to Naomi.

[2020-11-25 21:33] tanyafowler commented on #136
Updating the requirements for this issue:

Reformat the page to follow the CEWS format. The only feature on CEWS that we don't need for CERS at this time is the "In detail" expand.

I've drafted a How claim periods work section to match CEWS. Waiting for one sentence from J-F - updating text about 180 day time limit.

I'll ask Sean to re-work the page after he's finished with the metadata.

[2020-11-25 21:48] tanyafowler opened #167 "CERS number registration - clarify instructions"
On How to apply - received feedback from Gary Graves that BE has a suggestion for making CERS number registration clearer for users.

I plan to add another step or two to this section to help solve this confusion. Quick, simple fix that might help a lot with the call volumes around the CERS number piece.

[2020-11-26 15:32] lbelmore-gc commented on #163
Adding some comments around non-arms length that have come in - to be reviewed for possible examples

From CFIB:
•	If the rent is considered non-arms length what about the property taxes? In this case, the business pays the property tax to the landlord which then goes to the city.  Is that considered arm’s length or not?
•	If a business pays rent to essentially himself are they eligible to the CER

[2020-11-26 16:07] lbelmore-gc opened #168 "Rent expenses - clarify eligible amounts to be included in rent field"
Clarify Rent expenses - what can be included. Amounts within net lease should be included in the Rent amount field

- inclusion of property tax, other expenses (property taxes and insurance may be paid separately from rent by a tenant, eligibility is not limited to owner)

- specify tenant insurance not eligible expense

- clarify expenses to be included in the rent amount (based on net lease expe

[2020-11-26 16:08] lbelmore-gc opened #169 "28 day prorated monthly expenses"
Need to clarify the amounts entered will be prorated for the 28 day claim period

- Rent:
- Rent will be prorated for the days that fall within the 28 day claim period
- Are your rent and any rental income for this location paid monthly?

Own
- update sub text under the fields to: payment for one calendar month

- update text above to: If your expense payment periods don't align with the monthly o

[2020-11-26 16:10] lbelmore-gc opened #170 "New businesses - eligibility"
New businesses - need to add note up front on eligibility if no prior revenue

[2020-11-26 16:12] lbelmore-gc commented on #136
closing this one and will add a new ticket for updated layout changes

[2020-11-26 16:12] #136 closed

[2020-11-30 14:11] LMElston commented on #153
Published at 6am Nov. 30

[2020-11-30 14:11] #153 closed

[2020-11-30 14:14] LMElston opened #180 "P10 opening content changes"
Will need to update, to launch first thing Dec. 20 (Sunday!):
- landing page
- periods you can apply for
- calculate your subsidy amount
- how to apply

[2020-11-30 14:16] LMElston commented on #99
@lbelmore-gc should we close this one? I think it's become moot for now, unless we get new UX evidence.

[2020-11-30 16:43] lbelmore-gc opened #181 "Updates to terms - eligible employer to entity"
Some instances of eligible employer throughout pages. Need to update to eligible entity.

@tanyafowler - to go through and highlight where these occurs.

[2020-11-30 17:11] lbelmore-gc opened #182 "Supporting documents - validation from CRA"
Review feedback from CVB (Brigitte email)

- update headings and clarify the reviews are CRA review
- highlight supporting docs needed

- possibly add link or more info on how to apply "gather info" step

[2020-11-30 21:04] lbelmore-gc commented on #163
Adding an reference to an internal doc used for validation (sent by CVB)

The document is available on InfoZone. You will have to go to this link and you will find CERS – Legislation 101 under General Procedures
http://infozone/english/r5065100/himsd/cers/rls_xpct_vld-e.html#leg1

Here is one reference that I found
Step 1b - Non arm's length qualifying revenue 125.7(4)(d)
RESULT:
Normally, amounts

[2020-12-01 15:52] Borges-Porteous commented on #130
Yes, these issues were all resolved for launch. Closing.

[2020-12-01 15:52] #130 closed

[2020-12-07 11:59] lbelmore-gc commented on #163
Adding technical notes from Ken

[CERS non-arm's length Dec 2-clean.DOCX](https://github.com/gc-proto/covid-19-guidance/files/5652475/CERS.non-arm.s.length.Dec.2-clean.DOCX)

[2020-12-08 18:40] tanyafowler commented on #181
Changes made on pages identified in feedback email - Who can apply, How to apply, How to fill out the application form.

PubHub tickets are ready for review and approval.

[2020-12-08 18:42] tanyafowler commented on #162
P2 changes were published Monday November 30. Closing issue.

[2020-12-08 18:42] #162 closed

[2020-12-08 18:44] tanyafowler commented on #165
Metadata ticket has been completed for all pages that don't have other changes in progress. Metadata for Who can apply, How to apply, How to fill out the application form, and Calculate your subsidy were all attached to the tickets in progress for those pages.

Last change is in progress for Calculate your subsidy. All other changes are in preview, including metadata.

[2020-12-08 18:45] tanyafowler commented on #169
This was published along with P2 changes on Monday November 30. Closing issue.

[2020-12-08 18:45] #169 closed

[2020-12-08 18:47] tanyafowler commented on #182
Ready in preview (After you apply page). Documents were already listed on page, but within expand/hides. Removed accordions, moved Keep your records section to the top of the Review of your claim heading, changed Review heading to What to expect when CRA reviews your claim.

Ready for approval.

[2020-12-08 18:51] tanyafowler commented on #168
Sentence about tenant insurance not being eligible and about net lease expenses being considered rent were added and published with P2 updates on Monday November 30.

New pop-up is being added to the Rent fields in the calculator to display content about eligible expenses (AJAXed from Expenses page).

[2020-12-10 15:16] Christopher-O opened #211 "icon creating invalid path error"
@loogart  the Icon file you added to the path
proto/vaccines/prevention-risks/img/

is causing errors and not allowing our IT person make changes using their git (even to a different folder).

It gives an invalid path response.

Could you look into why this might be? Perhaps it needs a file extension.  Thanks!

[2020-12-10 15:30] loogart commented on #211
Hey @Christopher-O, i removed the `./ ` before the src path, let me know if this works.

[2020-12-10 15:35] Michel-Tremblay commented on #211
![image](https://user-images.githubusercontent.com/11430547/101792930-454b3800-3ad3-11eb-93c6-bb7e22d17f61.png)

This is the error I'm stuck on.  When we look at the file in github, the file is 0bytes. https://github.com/gc-proto/covid-19-guidance/blob/master/proto/vaccines/prevention-risks/img/Icon%0D

Can you confirm there's no invalid characters in the filename? Git is showing that there's a qu

[2020-12-10 15:41] loogart commented on #211
@Michel-Tremblay I just removed a hidden file that was somehow hiding in there. Let me know if it works.

[2020-12-10 15:44] Michel-Tremblay commented on #211
@loogart, it's working now. Thanks for your help!

[2020-12-10 15:46] #211 closed

[2020-12-18 13:51] #182 closed

[2020-12-18 13:53] lbelmore-gc commented on #165
@tanyafowler - can you confirm if the last metadata items have been completed? Let's close this one if it's done

[2020-12-18 13:53] #181 closed

[2020-12-18 14:01] lbelmore-gc opened #228 "Expanded content on leases and sub-leases"
New expanded content sent from LPRAB

email from Michel:

Attached are the examples of lease and sublease that we discussed. I’m not sure the last two summary paragraphs are necessary but I left them in so you can decide if they should be included or not.

[CERS_Lease and sub-lease situations.docx](https://github.com/gc-proto/covid-19-guidance/files/5716052/CERS_Lease.and.sub-lease.situations.docx

[2020-12-18 15:49] lbelmore-gc commented on #228
Note from Michel (via email Dec 18)

I forgot to mention that we are currently waiting for a decision from Rulings on the net lease issue. Specifically which expenses can be claimed. Once we hear back from them we’ll then be able to provide something for the expanded description on the web page.

[2020-12-18 19:13] lbelmore-gc opened #229 "CECRA / CEBA - expanded technical notes"
technical notes from Ken (email from dec 16th)

More items that I am being asked to added to the CERS pages. In my view these are the types of items where we should be solely making reference to the appropriate CEWS FAQs. Maybe we need something more robust in the “calculating revenues” area of the CERS to point people to all the CEWS FAQs related to revenue.

[2020-087251 CEWS CECRA CEBA Loans as

[2021-01-08 19:23] lbelmore-gc opened #237 "Tax filing content"
Review requirements for tax filing

- gather info from ABSB on info for employers and employee
- add content to the new after you apply section
- integration the Info for employers page https://www.canada.ca/en/revenue-agency/campaigns/covid-19-update/support-employers-cra-covid-19.html#reporting

[2021-01-15 17:23] lbelmore-gc commented on #237
adding some additional reference info sent in from Manon:
A little bit of information that might help you:
•	CEWS – T4
•	Where to find the new T4reporting requirements & guide
https://www.canada.ca/en/revenue-agency/campaigns/covid-19-update/support-employers-cra-covid-19.html#reporting
https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4120.html
•	CERS - T1/T2
•	Wh

[2021-01-15 18:16] #180 closed

[2021-01-15 20:55] lbelmore-gc commented on #237
Also adding Alex's comments regarding T4s and T4as

Just so you know, we’re working on the How to File-Pandemic COPs project and how people receiving the individual covid benefits will receive t4as, and we did include a line about how employees on CEWS will NOT receive a t4a, they will only receive their t4. Since we have seen t4 rise in the search results for cews, this provides a quick answer ar

[2021-02-01 17:32] lbelmore-gc opened #238 "Update amendment instructions"
The CERS adjustment process is scheduled to go live on Monday, February 8th.

The process will be very similar to CEWS. The same “initial vs. adjustment” radio buttons will be added to the claim period selection page:

From there, the forms are the same as for an “initial” CERS filing, except that the previously-filed amounts are pre-populated and can be changed by the user.

I had a look at the t

[2021-02-01 18:21] lbelmore-gc opened #239 "Calculate your subsidy page - UX recommendations"
Shaun and the UX team conducted some research and design sessions and the following recommendations have been made for the Calculate you subsidy page:

•	Replace checkboxes with green checks
•	Additional Copy recommendations in attached Word doc CERS_BeforeYouCalculate_Alternate.docx
Affiliated Entities
•	“Learn more about affiliated entities” reiterate copy from “who can apply” page
•	change exam

[2021-02-03 15:11] lbelmore-gc opened #240 "Who can apply - design updates"
Who can Apply page
•	Remove sub-header “Eligibility criteria” (currently Aligned with CEWS)
•	Replace big numbers with check boxes
•	Add “Criteria X” label to each requirement
•	Additional copy recommendations in attached Word doc CERS_WhoCanApply.docx

[CERS_WhoCanApply.docx](https://github.com/gc-proto/covid-19-guidance/files/5919368/CERS_WhoCanApply.docx)

[2021-04-26 12:25] lbelmore-gc commented on #239
Closing this one as these are now completed

[2021-04-26 12:25] #239 closed

[2021-04-26 12:29] #19 closed

[2021-04-26 12:38] lbelmore-gc opened #250 "Determine IA"
Determine IA for the CRHP pages and how this integrates with the CEWS pages

- IA diagram
- look at flow between the two subsidies
- list of pages

[2021-04-26 12:43] lbelmore-gc opened #251 "Calculator prototype - shared CRHP/CEWS"
Development of new calculator prototype
- shared between chrp and cews
- step by step layout
- calculates and displays both options - highlight the greater

[2021-04-27 14:18] lbelmore-gc opened #252 "Page analysis for CRHP and CEWS"
breakdown of page and required changes for budget update and CRHP launch

[2021-06-18 14:59] #250 closed

[2021-06-18 14:59] #252 closed